.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
	border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
	border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
	border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
	position: relative;
}

.wpcf7-not-valid-tip {
	color: #dc3232; /* Red */
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
	position: relative;
	top: -2ex;
	left: 1em;
	z-index: 100;
	border: 1px solid #dc3232;
	background: #fff;
	padding: .2em .8em;
	width: 24em;
}

.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-spinner {
	visibility: hidden;
	display: inline-block;
	background-color: #23282d; /* Dark Gray 800 */
	opacity: 0.75;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 100%;
	padding: 0;
	margin: 0 24px;
	position: relative;
}

form.submitting .wpcf7-spinner {
	visibility: visible;
}

.wpcf7-spinner::before {
	content: '';
	position: absolute;
	background-color: #fbfbfc; /* Light Gray 100 */
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	border: none;
	border-radius: 100%;
	transform-origin: 8px 8px;
	animation-name: spin;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
	.wpcf7-spinner::before {
		animation-name: blink;
		animation-duration: 2000ms;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.wpcf7 input[type="file"] {
	cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	direction: ltr;
}




/*********** video section *********/


.pagevideoMain {
  position: relative;
  width: 100%;
  display: inline-block;
}
.videoBox video {
  width: 100%;
}
.vdeeoTextMain {
	position: absolute;
	top: 170px;
	left: 0;
	z-index: 2;
	right: 0;
}
.vdeeoText h2 {
	font-size: 70px !important;
	font-weight: 800 !important;
	color: #fff !important;
	margin: 0 0 0px;
	text-shadow: 0 1px 3px #000;
	/* background: #11111147; */
	display: inline-block;
	padding: 17px 13px 23px;
}
.vdeeoText {
	margin: 0 auto;
	text-align: center;
}

.vdeeoTextMain {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	margin: 0 auto;
}

.margin00 {
	margin: 0px !important;
}


.dl-submenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	padding: 19px !important;
	bottom: 0;
}



.dl-submenusub {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	padding: 19px !important;
	bottom: 0;
}


.menu_b {display: none!important;
}

.closeee h5 {
	color: #fff!important;
	font-size: 19px !important;
	cursor: pointer!important;
}

.navbar.navbar-default.nav-left.pi-mega {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.backmenu h3 {
	cursor: pointer;
}


/**** START menu *******/


.menu_box {
	text-align: left;
}
.menu_b{font-size:30px;cursor:pointer; display:initial;}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #1e1d1d;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 4px;
}
.sidenav a:hover { color: #f1f1f1;}
.closeee h5 {
	color: #fff;
	font-size: 17px;
	margin: 0;
}
	
.sidenav .closebtn {
	display: inline-block;
	font-size: 36px;
	margin-left: 6px;
	color: #fff;
}
	
.menu_main > ul > li {
	width: 100%;
	display: inline-block;
	/* border-bottom: 1px solid #f7efef; */
	padding: 12px;
	/* line-height: 20px; */
	vertical-align: top;
	background: #262626;
	border-radius: 5px;
	margin: 0 0 4px !important;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #2d2d2d;
}
.menu_main ul li a{ width:100%; display:inline-block; font-size:16px; color:#fff;}
.menu_main > ul {
	margin: 0;
	padding: 6px 19px;
}
.closeee {
	color: #000;
	display: initial;
	font-size: 17px;
	margin: 0 0;
	display: flex;
	justify-content: space-between;
	padding: 12px 30px 10px;
	align-items: center;
}
.menu_main ul li {
	margin: 0;
}

.menu_b {
	float: right;
	position: absolute;
	top: 20px;
	right: 19px;
}
.dl-submenu.open {
	position: absolute;
	top: 0;
	background: #242424;
	width: 100%;
	left: 0;
	right: 0;
	top: -9px;
}




.dl-submenu {
  margin: 0px;
  padding: 0px;
  display: none;
}
.dl-submenu.open {
  display: block;
  padding: 24px;
}
.backmenu {
	background: #393939;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 11px;
	border-radius: 5px;
	margin: 0 0 10px;
}
.backmenu h3 {
  margin: 0px;
  color: #fff !important;
}
.backmenu h5 {
  margin: 0px;
  color: #fff;
}
	
.dl-submenu li {
  background: #151515;
  display: inline-block;
  width: 100%;
  padding: 11px 14px 4px;
}
.dl-submenu li:last-child {
	padding-bottom: 14px;
	border-radius: 0 0 10px 10px;
}

.dl-submenu li:first-child {
	padding-bottom: 14px;
	border-radius:  10px 10px 0 0;
}

.arrowMenu {
	/* position: absolute; */
	/* right: 15px; */
	/* top: 10px; */
	float: right;
}
#menu-our-services li {
	margin: 0px !important;
	padding: 0px !important;
}



.blogbox22 {
  min-height: 301px;
  padding: 0;  margin: 0 0 20px;
  display: inline-block;
  width: 100%;
}
.blogbox22 figure{
	margin: 0 0 6px;
	overflow: hidden;
	padding: 0;
	display: inline-block;
	width: 100%;
}


.blogbox22 figure img {
	border-radius: 8px;
	transition: 1.2s ease all;
	height: 200px;
	width: 100%;
}
.blogbox22:hover img {
	transform: scale(1.1);
	transition: 1.2s ease all;
}


.blogbox22 h2 {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	font-size: 13px;
	line-height: 17px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	font-family: Open Sans;
	position: relative;
}
.blogbox22 h2::before {
	position: absolute;
	display: block;
	content: "";
	width: 40px;
	height: 3px;
	bottom: -19px !important;
	left: 50%;
	margin-left: -20px;
	background: #fac312;
}




.servicesContent h2 {
  margin: 10px 0 !important;
  font-size: 29px !important;
  font-weight: bold !important;
}
.servicesContent p {
	font-size: 15px !important;
	line-height: 27px !important;
	text-align: justify;
	margin: 12px 0!important;
	color: #000 !important;
}
.servicesContent img {
  border-radius: 15px !important;
}
.servicesContent figure {
  margin: 0 0 20px !important;;
}







.servicesContent h2 {
  margin: 10px 0 !important;
  font-size: 29px !important;
  font-weight: bold !important;
position:relative;

}
.servicesContent p {
font-size: 14px !important;
  line-height: 22px !important;
  text-align: justify;
  margin: 0 0 10px !important;
  color: #000 !important;
  padding: 0 !important;
}
.servicesContent img {
  border-radius: 15px !important;
}
.servicesContent figure {
  margin: 0 0 20px !important;;
}

.servicesContent h2::before {
	position: absolute;
	content: "";
	width: 60px;
	height: 3px;
	background: #fab700;
	bottom: -4px;
}

.servicesContent strong {
	font-size: 15px !important;
	color: #000 !important;
	
}

.servicesContent h3 {
	color: #000 !important;
	font-size: 20px !important;
	font-weight: bold !important;
	margin: 5px 0 !important;
}

.servicesContent i {
    font-size: 15px !important;
    color: #000 !important;
    font-style: italic !important;
    font-weight: 700 !important;
    padding-bottom: 14px !important;
    display: inline-block!important;
    width: 100%!important;
}

.Padding14{
 
    padding-bottom: 14px !important;

}


.lostservices li:before {
    content: ' \2714';
    position: absolute;
    left: 0;
    top: 0;
}
.lostservices li {
    padding: 0 0 0 24px;
    color: #000;
    font-size: 14px;
    margin: 0 0 15px;
    list-style: none;
    position: relative;
}
.servicesMain {
 
    display: inline-block;
    width: 100%;
}

.servicesMain {
    background: #f8f8f8 url("/images/light_bkg.png");
    padding: 60px 0;
    display: inline-block;
    width: 100%;
}

.page-title-style02 {

    margin-bottom: 90px !important;
}

 .serviceimg figure:before {
 
     content: "";
    background-image: linear-gradient(90deg, #dddddd21, #ffffff4f, #ffffff0d 80px);
    background-size: 600px;
    animation: shine-avatar 1.6s infinite linear;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;    opacity: .4;
    top: 0;
}


@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
-moz-@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

-webkit-@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
.servicesContent h4 {
    font-weight: bold;
}
.imgmTop {
    margin-top: 60px;
}

/**** END menu ***/




.service-feature-box {
  width: 20%;
  margin: 0 0.3%;
}
.serviceMain {
	display: flex;
	width: 100%;
	margin: 0 auto;
}

.serviceWrap {
	display: block;
	width: 78%;
	margin: 0 auto;
}
.serviceOPuter {
	padding: 50px 0;
}


.service-box22 {
	padding: 60px 0;
}


.textwidget {
	margin: 0 0 14px;
}
.textwidget {
  text-align: center;
}
.textwidget p {
  font-size: 15px;
}

.nTimelineRepeat {
	display: flex;
	justify-content: space-between;
	margin: 0 0 23px;
}

.newtcommon {

	width: 36%;
}

.ntimeText h2 {
	padding: 0 0 0 !important;
	margin: 0 !important;
	font-size: 24px !important;
	color: #000 !important;
	line-height: 29px !important;
}

.ntimeText p {
	padding: 0 0 0px;
	margin: 0;
	font-size: 13px !important;
	color: #000 !important;
}

.newTimeBox2 {
	width:180px;
}

.ntimeText {
	text-align: right;
}
.timrimg img {
	border-radius: 8px;
}





.nTimelineinner:nth-child(even) {
  flex-direction: row-reverse;
}


.nTimelineRepeat:nth-child(2n)  .ntimeText {
  text-align: left;
}
.timeLine {
	position: absolute;
	top: 22px;
	right: -47px;
	border-bottom: 1px solid #ccc;
	width: 38px;
}











/**************************************************************************/
/**************************responsive************************************************/
@media (max-width:1224px) {
.serviceWrap {
	
	width: 100%;
	
}


	
}

@media (max-width:1024px) {
.vdeeoText h2 {font-size: 49px !important;}



	
}
@media (max-width:767px) {
.serviceMain {
	display: inline-block !important;
	
}
.service-feature-box {
	width: 47%  !important;
	margin: 0 1% 11px !important;
	display: inline-block;
	vertical-align: top;
}
.service-feature-box .service-body{
	min-height: 281px  !important;
}

	
.menu_b {
	
	top: 29px !important;
}
	
.menu_b {display: block!important;
}
.dl-menuwrapper:hover ul {
	opacity: 1 !important;
	z-index: 999999;backface-visibility: initial !important;
	top: 47px !important;
	transform: initial !important;
}

.dl-menuwrapper ul li:hover .dl-submenu {
    display: block !important;
}


	
.page-content.custom-background.image-background {
	height: auto !important;
}


	
.image-background {
	height: 200px !important;
}
.vdeeoText h2 {font-size: 32px  !important; ; line-height: 39px  !important;;}


}


