<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
   <![endif]-->
   <!--[if IE 7]>
   <html id="ie7" lang="en-US">
      <![endif]-->
      <!--[if IE 8]>
      <html id="ie8" lang="en-US">
         <![endif]-->
         <!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
         <html lang="en-US">
            <!--<![endif]-->
            <head>
               <meta charset="UTF-8" />
               <meta name="viewport" content="width=device-width, initial-scale=1" />
               <title>Air Freight :: Skyways Air Services Ltd.</title>
               <meta name='robots' content='max-image-preview:large' />
               <style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px; }.wpcp-carousel-section .wpcp-single-item{border:1px solid #ddd;}</style>
               <link rel='dns-prefetch' href='//fonts.googleapis.com' />
               <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
               <link rel='stylesheet' id='ht_ctc_main_css-css' href='../css/main.css' type='text/css' media='all' />
               <link rel='stylesheet' id='extendify-sdk-utility-classes-css' href='../css/extendify-utilities.css' type='text/css' media='all' />
               <link rel='stylesheet' id='contact-form-7-css' href='../css/styles.css' type='text/css' media='all' />
               <link rel='stylesheet' id='cma-frontend-css' href='../css/frontend.css' type='text/css' media='all' />
               <link rel='stylesheet' id='font-awesome-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='cma-animate-css-css' href='../css/animate.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='responsive-lightbox-swipebox-css' href='../css/swipebox/swipebox.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='tweetscroll-css' href='../css/tweetscroll.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='wpcf-slick-css' href='../css/slick.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='wp-carousel-free-fontawesome-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='wp-carousel-free-css' href='../css/wp-carousel-free-public.min.css' type='text/css' media='all' />
               <style id='wp-carousel-free-inline-css' type='text/css'>
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li button {
                  background-color: #cccccc;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li.slick-active button {
                  background-color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1305.nav-vertical-center {
                  padding: 0;
                  }
                  }#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li button {
                  background-color: #cccccc;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li.slick-active button {
                  background-color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1222.nav-vertical-center {
                  padding: 0;
                  }
                  }#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1173.nav-vertical-center {
                  padding: 0;
                  }
                  }
               </style>
               <link rel='stylesheet' id='cma-style-tooltip-css' href='../css/tooltips/css/hint.min.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='cma-styles-bootstrap-css' href='../css/bootstrap.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='volcanno-style-css' href='../css/theme-style.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='pixons-css' href='../css/style.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='linecons-css' href='../css/linecons.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='nivoslider-css' href='../css/nivo-slider.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='hint-css-css' href='../css/hint.min.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='owl-carousel-css' href='../css/owl.carousel.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='magnific-popup-css' href='../css/magnific-popup.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-google-fonts-css' href='//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200,100%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' type='text/css' media='all' />
               <link rel='stylesheet' id='volcanno-responsive-css' href='../css/responsive.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-retina-css-css' href='../css/retina.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-color-style-css' href='../css/color-default.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno_custom_css-css' href='../css/custom-styles.php' type='text/css' media='screen' />
               <link rel='stylesheet' id='ms-main-css' href='../css/masterslider.main.css' type='text/css' media='all' />
               <link rel='stylesheet' id='ms-custom-css' href='../css/custom.css' type='text/css' media='all' />
               <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" />
               <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" media="print" onload="this.media='all'">
               <noscript>
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" />
               </noscript>
               <script type="text/javascript" src="../js/jquery.min.js" id="jquery-core-js"></script>
               <script type="text/javascript" src="../js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
               <script type="text/javascript" src="../js/cma.frontend.min.js" id="cma-frontend-js"></script>
               <script type="text/javascript" src="../js/waypoints.min.js" id="cma-waypoints-js"></script>
               <script type="text/javascript" src="../js/jquery.stellar.min.js" id="cma-stellar-js"></script>
               <script type="text/javascript" src="../js/jquery.swipebox.min.js" id="responsive-lightbox-swipebox-js"></script>
               <script type="text/javascript" src="../js/underscore.min.js" id="underscore-js"></script>
               <script type="text/javascript" src="../js/infinite-scroll.pkgd.min.js" id="responsive-lightbox-infinite-scroll-js"></script>
               <script type="text/javascript" src="../js/front.js" id="responsive-lightbox-js"></script>
               <script type="text/javascript" src="../js/jquery.tweetscroll.js" id="tweetscroll-js"></script>
               <script type="text/javascript" src="../js/volcanno.functions.js" id="volcanno_functions-js"></script>
               <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
                  .page-title-style02{top: 90px;margin-bottom: 160px;}
               </style>
               <link rel="icon" href="../images/skywayslogo_new.png" sizes="32x32" />
               <link rel="icon" href="../images/skywayslogo_new.png" sizes="192x192" />
               <link rel="apple-touch-icon" href="../images/skywayslogo_new.png" />
               <meta name="msapplication-TileImage" content="../images/skywayslogo_new.png" />
               <style type="text/css" id="wp-custom-css">
                  .d-none{display:none;}
                  .image-background{height: 570px !important;}
                  .custom-heading h2{font-weight:500;}
                  .page-id-1291 .custom-heading02:after {display:none;}
                  #txtfs .textwidget p{font-size:24px!important;
                  font-weight:600;
                  color:#fac312;}
                  .contact-info-list li{background-image:none!important;}
                  #black-studio-tinymce-2 li{background-image:none!important;font-size:16px;}
                  #bbst{padding-top:0px!important;}
                  #sstop .service-box{padding-top:40px!important;}
                  .request_quote .input-group{width:100%;margin-bottom:15px;}
                  #bbst .hprqf h2{color:#ffffff;}
                  #bbst .hprqf .custom-heading:after{background-color: #ffffff;}
                  @media only screen 
                  and (min-device-width : 320px) 
                  and (max-device-width : 480px) {
                  #txtfs{background-size: cover!important;}
                  .dl-menuwrapper button{border-radius:0px!important;
                  -webkit-border-radius:0px!important;
                  -moz-border-radius: 0px!important;color: #333;padding-left: 25px!important;width:auto!important;}
                  }
               </style>
               <style id="volcanno_options-dynamic-css" title="dynamic-css" class="redux-options-output">.page-title-style02 h1,.page-title-style01 h1{color:#FFFFFF;}body{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}p{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}h1{font-family:"Titillium Web";line-height:48px;font-weight:300;font-style:normal;color:#333333;font-size:42px;font-display:swap;}h2{font-family:"Titillium Web";line-height:42px;font-weight:300;font-style:normal;color:#333333;font-size:36px;font-display:swap;}h3{font-family:"Titillium Web";line-height:24px;font-weight:400;font-style:normal;color:#333333;font-size:21px;font-display:swap;}h4{font-family:"Titillium Web";line-height:22px;font-weight:400;font-style:normal;color:#333333;font-size:18px;font-display:swap;}h5{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:16px;font-display:swap;}h6{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:15px;font-display:swap;}</style>
            </head>
<body class="home wp-singular page-template-default page page-id-18 wp-theme-trucking wp-child-theme-trucking-child-theme  homepage content-maker _masterslider _msp_version_3.4.5">
               <!-- #header-wrapper start -->
               <section id="header-wrapper" class="clearfix header-wrapper  search-hidden">
                  <header id="header" class="header-style02">
                     <!-- #top-bar-wrapper start -->
                     <div id="top-bar-wrapper" class="clearfix ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6 col-xs-9">
                              </div>
                              <!-- .col-md-6 end -->
                              <div class="col-md-6 col-xs-3">
                              </div>
                              <!-- .col-md-6 end -->
                           </div>
                           <!-- .row end -->
                        </div>
                        <!-- .container end -->
                     </div>
                     <!-- #top-bar-wrapper end -->
                     <div class="header-inner">
                        <!-- .container start -->
                        <div class="container">
                           <div class="main-nav">
                              <div class="row">
                                 <div class="col-md-12">
                                    <!-- .navbar.pi-mega start -->
                                    <nav class="navbar navbar-default nav-left pi-mega" role="navigation">
                                       <!-- .navbar-header start -->
                                       <div class="navbar-header">
                                          <!-- .logo start -->
                                          <div class="logo">
                                             <a href="/"><img src='../images/skywayslogo_new.png' alt='Skyways Air Services Ltd.' /></a>
                                          </div>
                                          <!-- logo end -->
                                       </div>
                                       <!-- Collect the nav links, forms, and other content for toggling -->
                                       <div class="collapse navbar-collapse">
                                          <ul id="menu-navigation" class="nav navbar-nav pi-nav menu">
                                             <li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020 dropdown"><a href="/">Home<span></span></a></li>
                                             <li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021 dropdown"><a href="/about-us/">About Us<span></span></a></li>
                                             <li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023 dropdown">
                                                <a href="/our-services" data-toggle="dropdown">Our Services<span></span></a>
                                                <ul class="dropdown-menu">
                                                   <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/air-freight">Air Freight</a></li>
                                                   <li id="menu-item-1104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104 dropdown"><a href="/contract-logistics">Contract Logistics</a></li>
                                                   <li id="menu-item-1127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127 dropdown"><a href="/cuddle">Cuddle</a></li>
                                                   <li id="menu-item-1131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131 dropdown"><a href="/d-tox">D-tox</a></li>
                                                   <li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102 dropdown"><a href="/warehousing">Warehousing</a></li>
                                                   <!--<li id="menu-item-1101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101 dropdown"><a href="/cold-storage">Cold Storage</a></li>-->
                                                </ul>
                                             </li>
                                             <li id="menu-item-1435" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1435 dropdown">
                                                <a href="/investors" data-toggle="dropdown">Investors<span></span></a>
                                                <<ul class="dropdown-menu">
                                                   <li id="menu-item-1436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1436 dropdown">
                                                      <a href="#">Financial Results</a>
                                                      <ul class="dropdown-menu depth-1">
                                                         <li id="menu-item-1445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1445 dropdown"><a href="/board-report/">Board Report</a></li>
                                                         <li id="menu-item-1444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1444 dropdown"><a href="/balance-sheet/">Balance Sheet</a></li>
                                                         <li id="menu-item-1443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1443 dropdown"><a href="/form-aoc-4/">Form AOC-4</a></li>
                                                      </ul>
                                                   </li>
                                                   <li id="menu-item-1454" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1454 dropdown"><a href="/shareholding-pattern/">Shareholding Pattern</a></li>
                                                   <li id="menu-item-1457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1457 dropdown"><a href="/annual-return/">Annual Return</a></li>
                                                   <li id="menu-item-1456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1456 dropdown"><a href="/corporate-governance/">Corporate Governance</a></li>
                                                   <li id="menu-item-1455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1455 dropdown"><a href="/company-policies/">Company Policies</a></li>
                                                   <li id="menu-item-1458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1458 dropdown">
                                                      <a href="#">Offer Documents</a>
                                                      <ul class="dropdown-menu depth-1">
                                                         <li id="menu-item-1470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1470 dropdown"><a href="/drhp/">DRHP</a></li>
                                                         <li id="menu-item-1469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1469 dropdown"><a href="/rhp/">RHP</a></li>
                                                         <li id="menu-item-1468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1468 dropdown"><a href="/prospectus/">Prospectus</a></li>
                                                         <li id="menu-item-1649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1649 dropdown"><a href="/other-documents/">Other Documents</a></li>
                                                      </ul>
                                                   </li>
                                                   <li id="menu-item-1467" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1467 dropdown"><a href="/investor-enquiry/">Investor Enquiry</a></li>
                                                </ul>
                                             </li>
                                             <li id="menu-item-1433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433 dropdown"><a href="/board-of-directors/">Board of Directors<span></span></a></li>
                                             <li id="menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641 dropdown"><a href="/group-companies/">Group Companies<span></span></a></li>
                                             <li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022 dropdown"><a href="/contacts/">Contact Us<span></span></a></li>
                                             <li id="menu-item-1197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197 dropdown"><a target="_blank" href="https://track.skyways-group.com/index.php">Tracking<span></span></a></li>
                                          </ul>
