
<header>
  {isHome ? (
    <nav class="home-menu">
      <!-- Home Page Menu -->
      <ul>
        <li>Home Link 1</li>
        <li>Home Link 2</li>
      </ul>
    </nav>
  ) : (
    <nav class="default-menu">
      <!-- Other Pages Menu -->
      <ul>
        <li>Page Link 1</li>
        <li>Page Link 2</li>
      </ul>
    </nav>
  )}
</header>
