<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
    <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />

                            <meta name="viewport" content="width=device-width, initial-scale=1" />
       

    <title>Skyways Air Services Pvt. Ltd. :: Home</title>
<meta name='robots' content='max-image-preview:large' />
	<style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px }</style>
	<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />



<link rel='stylesheet' id='ht_ctc_main_css-css' href='https://www.braceport-logistics.com/wp-content/plugins/click-to-chat-for-whatsapp/new/inc/assets/css/main.css?ver=4.6' type='text/css' media='all' />

<link rel='stylesheet' id='extendify-sdk-utility-classes-css' href='https://www.braceport-logistics.com/wp-content/plugins/redux-framework/redux-core/extendify-sdk/public/build/extendify-utilities.css?ver=13.4' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css' href='https://www.braceport-logistics.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='cma-frontend-css' href='https://www.braceport-logistics.com/wp-content/plugins/content-maker/css/frontend.css?ver=1.3.9' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css' href='https://www.braceport-logistics.com/wp-content/plugins/content-maker/assets/font-awesome/css/font-awesome.min.css?ver=6.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='cma-animate-css-css' href='https://www.braceport-logistics.com/wp-content/plugins/content-maker/css/animate.min.css?ver=6.8.1' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-lightbox-swipebox-css' href='https://www.braceport-logistics.com/wp-content/plugins/responsive-lightbox/assets/swipebox/swipebox.min.css?ver=2.4.5' type='text/css' media='all' />
<link rel='stylesheet' id='tweetscroll-css' href='https://www.braceport-logistics.com/wp-content/plugins/tweetscroll-widget/css/tweetscroll.css?ver=1.3.6' type='text/css' media='screen' />
<link rel='stylesheet' id='wpcf-slick-css' href='https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/css/slick.min.css?ver=2.1.19' type='text/css' media='all' />
<link rel='stylesheet' id='wp-carousel-free-fontawesome-css' href='https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/css/font-awesome.min.css?ver=2.1.19' type='text/css' media='all' />
<link rel='stylesheet' id='wp-carousel-free-css' href='https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/css/wp-carousel-free-public.min.css?ver=2.1.19' type='text/css' media='all' />
<style id='wp-carousel-free-inline-css' type='text/css'>
#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .wpcp-single-item {
		border: 1px solid #dddddd;
	}
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev,
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next,
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev:hover,
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next:hover {
		background: none;
		border: none;
		font-size: 30px;
	}
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i,
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i {
		color: #aaa;
	}
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i:hover,
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i:hover {
		color: #52b3d9;
	}
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li button {
		background-color: #cccccc;
	}
	#sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li.slick-active button {
		background-color: #52b3d9;
	}
	
	@media screen and (max-width: 479px) {
		#sp-wp-carousel-free-id-1305.nav-vertical-center {
			padding: 0;
		}
	}#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .wpcp-single-item {
		border: 1px solid #dddddd;
	}
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev,
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next,
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev:hover,
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next:hover {
		background: none;
		border: none;
		font-size: 30px;
	}
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i,
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i {
		color: #aaa;
	}
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i:hover,
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i:hover {
		color: #52b3d9;
	}
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li button {
		background-color: #cccccc;
	}
	#sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li.slick-active button {
		background-color: #52b3d9;
	}
	
	@media screen and (max-width: 479px) {
		#sp-wp-carousel-free-id-1222.nav-vertical-center {
			padding: 0;
		}
	}#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .wpcp-single-item {
		border: 1px solid #dddddd;
	}
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev,
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next,
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev:hover,
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next:hover {
		background: none;
		border: none;
		font-size: 30px;
	}
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i,
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i {
		color: #aaa;
	}
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i:hover,
	#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i:hover {
		color: #52b3d9;
	}
	@media screen and (max-width: 479px) {
		#sp-wp-carousel-free-id-1173.nav-vertical-center {
			padding: 0;
		}
	}
</style>
<link rel='stylesheet' id='cma-style-tooltip-css' href='../css/hint.min.css' type='text/css' media='screen' />
<link rel='stylesheet' id='cma-styles-bootstrap-css' href='../css/bootstrap.min.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='volcanno-style-css' href='https://www.braceport-logistics.com/wp-content/themes/trucking-child-theme/style.css?ver=1.0' type='text/css' media='screen' />
<link rel='stylesheet' id='pixons-css' href='https://www.braceport-logistics.com/wp-content/themes/trucking/includes/assets/pixons/style.css?ver=1.0' type='text/css' media='screen' />
<link rel='stylesheet' id='linecons-css' href='../css/linecons.css' type='text/css' media='screen' />
<link rel='stylesheet' id='nivoslider-css' href='../css/nivo-slider.css' type='text/css' media='screen' />
<link rel='stylesheet' id='hint-css-css' href='../css/theme-hint.min.css' type='text/css' media='screen' />
<link rel='stylesheet' id='owl-carousel-css' href='../css/owl.carousel.css' type='text/css' media='screen' />
<link rel='stylesheet' id='magnific-popup-css' href='../css/magnific-popup.css' type='text/css' media='screen' />
<link rel='stylesheet' id='volcanno-google-fonts-css' href='//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200,100%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' type='text/css' media='all' />
<link rel='stylesheet' id='volcanno-responsive-css' href='../css/responsive.css' type='text/css' media='screen' />
<link rel='stylesheet' id='volcanno-retina-css-css' href='../css/retina.css' type='text/css' media='screen' />
<link rel='stylesheet' id='volcanno-color-style-css' href='../css/color-default.css' type='text/css' media='screen' />
<link rel='stylesheet' id='ms-main-css' href='../css/masterslider.main.css' type='text/css' media='all' />
<link rel='stylesheet' id='ms-custom-css' href='../css/custom.css' type='text/css' media='all' />
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" /></noscript><script type="text/javascript" src="https://www.braceport-logistics.com/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
<script type="text/javascript" id="cma-frontend-js-extra">
/* <![CDATA[ */
var CMA = {"elementsAnimation":"1","sequentialAnimation":"","elementsAnimationOffset":"80","sectionParallax":"1","stellarBgRatio":"0.4"};
/* ]]> */
</script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/content-maker/js/cma.frontend.min.js?ver=1.3.9" id="cma-frontend-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/content-maker/js/waypoints.min.js?ver=1.3.9" id="cma-waypoints-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/content-maker/js/jquery.stellar.min.js?ver=1.3.9" id="cma-stellar-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/responsive-lightbox/assets/swipebox/jquery.swipebox.min.js?ver=2.4.5" id="responsive-lightbox-swipebox-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-includes/js/underscore.min.js?ver=1.13.7" id="underscore-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/responsive-lightbox/assets/infinitescroll/infinite-scroll.pkgd.min.js?ver=6.8.1" id="responsive-lightbox-infinite-scroll-js"></script>
<script type="text/javascript" id="responsive-lightbox-js-before">
/* <![CDATA[ */
var rlArgs = {"script":"swipebox","selector":"lightbox","customEvents":"","activeGalleries":true,"animation":true,"hideCloseButtonOnMobile":false,"removeBarsOnMobile":false,"hideBars":true,"hideBarsDelay":5000,"videoMaxWidth":1080,"useSVG":true,"loopAtEnd":false,"woocommerce_gallery":false,"ajaxurl":"https:\/\/www.braceport-logistics.com\/wp-admin\/admin-ajax.php","nonce":"5bfe80e7bd","preview":false,"postId":18,"scriptExtension":false};
/* ]]> */
</script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/responsive-lightbox/js/front.js?ver=2.4.5" id="responsive-lightbox-js"></script>
<script type="text/javascript" id="tweetscroll-js-extra">
/* <![CDATA[ */
var PiTweetScroll = {"ajaxrequests":"https:\/\/www.braceport-logistics.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/tweetscroll-widget/js/jquery.tweetscroll.js?ver=6.8.1" id="tweetscroll-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/js/volcanno.functions.js?ver=1.0" id="volcanno_functions-js"></script>


<script>var ms_grabbing_curosr='https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur',ms_grab_curosr='https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/common/grab.cur';</script>

<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<link rel="icon" href="../images/sls-India-logo-web.png" sizes="32x32" />
<link rel="icon" href="../images/sls-India-logo-web.png" sizes="192x192" />
<link rel="apple-touch-icon" href="../images/sls-India-logo-web.png" />
<meta name="msapplication-TileImage" content="../images/sls-India-logo-web.png" />
		<style type="text/css" id="wp-custom-css">
			.d-none{display:none;}

.image-background{height: 570px !important;}

.custom-heading h2{font-weight:500;}

.page-id-1291 .custom-heading02:after {display:none;}

#txtfs .textwidget p{font-size:24px!important;
font-weight:600;
color:#fac312;}

.contact-info-list li{background-image:none!important;}
#black-studio-tinymce-2 li{background-image:none!important;font-size:16px;}
#bbst{padding-top:0px!important;}
#sstop .service-box{padding-top:40px!important;}
.request_quote .input-group{width:100%;margin-bottom:15px;}
#bbst .hprqf h2{color:#ffffff;}
#bbst .hprqf .custom-heading:after{background-color: #ffffff;}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	#txtfs{background-size: cover!important;}
	.dl-menuwrapper button{border-radius:0px!important;
-webkit-border-radius:0px!important;
-moz-border-radius: 0px!important;color: #333;padding-left: 25px!important;width:auto!important;}
}		</style>
		<style id="volcanno_options-dynamic-css" title="dynamic-css" class="redux-options-output">.page-title-style02 h1,.page-title-style01 h1{color:#FFFFFF;}body{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}p{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}h1{font-family:"Titillium Web";line-height:48px;font-weight:300;font-style:normal;color:#333333;font-size:42px;font-display:swap;}h2{font-family:"Titillium Web";line-height:42px;font-weight:300;font-style:normal;color:#333333;font-size:36px;font-display:swap;}h3{font-family:"Titillium Web";line-height:24px;font-weight:400;font-style:normal;color:#333333;font-size:21px;font-display:swap;}h4{font-family:"Titillium Web";line-height:22px;font-weight:400;font-style:normal;color:#333333;font-size:18px;font-display:swap;}h5{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:16px;font-display:swap;}h6{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:15px;font-display:swap;}</style>    </head>
        <body class="home wp-singular page-template-default page page-id-18 wp-theme-trucking wp-child-theme-trucking-child-theme  homepage content-maker _masterslider _msp_version_3.4.5">

        
        
                    <!-- #header-wrapper start -->
            <section id="header-wrapper" class="clearfix header-wrapper  search-hidden">

                <header id="header" class="header-style02">

                    
                        
                            <!-- #top-bar-wrapper start -->
                            <div id="top-bar-wrapper" class="clearfix ">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-9">
                                                                                    </div><!-- .col-md-6 end -->

                                        <div class="col-md-6 col-xs-3">
                                            
                                        </div><!-- .col-md-6 end -->
                                    </div><!-- .row end -->
                                </div><!-- .container end -->
                            </div><!-- #top-bar-wrapper end -->

                            <div class="header-inner">
                                                        <!-- .container start -->
                            <div class="container">

                                <div class="main-nav">
                                    <div class="row">
                                        <div class="col-md-12">
                                            
                                                <!-- .navbar.pi-mega start -->
                                                <nav class="navbar navbar-default nav-left pi-mega" role="navigation">	
                                                                                                            <!-- .navbar-header start -->
                                                        <div class="navbar-header">
                                                                        <!-- .logo start -->
            <div class="logo">
                <a href="/"><img src='../images/sls-India-logo-web.png' alt='Skyways Air Services Pvt. Ltd.' /></a>
            </div><!-- logo end -->
                                                                    </div>
                                                    
                                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                                    <div class="collapse navbar-collapse">
                                                        <ul id="menu-navigation" class="nav navbar-nav pi-nav menu"><li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020 dropdown"><a href="https://www.braceport-logistics.com/">Home<span></span></a></li>
<li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021 dropdown"><a href="https://www.braceport-logistics.com/about-us/">About Us<span></span></a></li>
<li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023 dropdown"><a href="https://www.braceport-logistics.com/our-services/" data-toggle="dropdown">Our Services<span></span></a>
<ul class="dropdown-menu">
	<li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="https://www.braceport-logistics.com/ocean-freight/">Ocean Freight</a></li>
	<li id="menu-item-1104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104 dropdown"><a href="https://www.braceport-logistics.com/air-freight/">Air Freight</a></li>
	<li id="menu-item-1127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127 dropdown"><a href="https://www.braceport-logistics.com/warehousing/">Warehousing</a></li>
	<li id="menu-item-1131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131 dropdown"><a href="https://www.braceport-logistics.com/special-movements/">Special Movements</a></li>
	<li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102 dropdown"><a href="https://www.braceport-logistics.com/transportation/">Transportation</a></li>
	<li id="menu-item-1101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101 dropdown"><a href="https://www.braceport-logistics.com/custom-clearance/">Custom Clearance</a></li>
</ul>
</li>
<li id="menu-item-1435" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1435 dropdown"><a href="#" data-toggle="dropdown">Investors<span></span></a>
<ul class="dropdown-menu">
	<li id="menu-item-1685" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1685 dropdown"><a href="https://www.braceport-logistics.com/board-meeting-outcome/">Board Meeting Outcome</a></li>
	<li id="menu-item-1436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1436 dropdown"><a href="#">Financial Results</a>
	<ul class="dropdown-menu depth-1">
		<li id="menu-item-1445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1445 dropdown"><a href="https://www.braceport-logistics.com/board-report/">Board Report</a></li>
		<li id="menu-item-1444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1444 dropdown"><a href="https://www.braceport-logistics.com/balance-sheet/">Balance Sheet</a></li>
		<li id="menu-item-1443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1443 dropdown"><a href="https://www.braceport-logistics.com/form-aoc-4/">Form AOC-4</a></li>
	</ul>
</li>
	<li id="menu-item-1454" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1454 dropdown"><a href="https://www.braceport-logistics.com/shareholding-pattern/">Shareholding Pattern</a></li>
	<li id="menu-item-1457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1457 dropdown"><a href="https://www.braceport-logistics.com/annual-return/">Annual Return</a></li>
	<li id="menu-item-1456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1456 dropdown"><a href="https://www.braceport-logistics.com/corporate-governance/">Corporate Governance</a></li>
	<li id="menu-item-1455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1455 dropdown"><a href="https://www.braceport-logistics.com/company-policies/">Company Policies</a></li>
	<li id="menu-item-1458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1458 dropdown"><a href="#">Offer Documents</a>
	<ul class="dropdown-menu depth-1">
		<li id="menu-item-1470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1470 dropdown"><a href="https://www.braceport-logistics.com/drhp/">DRHP</a></li>
		<li id="menu-item-1469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1469 dropdown"><a href="https://www.braceport-logistics.com/rhp/">RHP</a></li>
		<li id="menu-item-1468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1468 dropdown"><a href="https://www.braceport-logistics.com/prospectus/">Prospectus</a></li>
		<li id="menu-item-1649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1649 dropdown"><a href="https://www.braceport-logistics.com/other-documents/">Other Documents</a></li>
	</ul>
</li>
	<li id="menu-item-1467" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1467 dropdown"><a href="https://www.braceport-logistics.com/investor-enquiry/">Investor Enquiry</a></li>
</ul>
</li>
<li id="menu-item-1433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433 dropdown"><a href="https://www.braceport-logistics.com/board-of-directors/">Board of Directors<span></span></a></li>
<li id="menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641 dropdown"><a href="https://www.braceport-logistics.com/group-companies/">Group Companies<span></span></a></li>
<li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022 dropdown"><a href="https://www.braceport-logistics.com/contacts/">Contact Us<span></span></a></li>
<li id="menu-item-1197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197 dropdown"><a target="_blank" href="https://tracking.braceport-logistics.com">Tracking<span></span></a></li>
</ul>            <!-- responsive navigation start -->
            <div id="dl-menu" class='dl-menuwrapper'>
                <button class="dl-trigger">Menu</button>
                <ul id="menu-navigation-1" class="menu dl-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020"><a href="https://www.braceport-logistics.com/">Home</a><span></span></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href="https://www.braceport-logistics.com/about-us/">About Us</a><span></span></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023"><a href="https://www.braceport-logistics.com/our-services/">Our Services</a><span></span>
<ul class="dl-submenu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="https://www.braceport-logistics.com/ocean-freight/">Ocean Freight</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104"><a href="https://www.braceport-logistics.com/air-freight/">Air Freight</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"><a href="https://www.braceport-logistics.com/warehousing/">Warehousing</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"><a href="https://www.braceport-logistics.com/special-movements/">Special Movements</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="https://www.braceport-logistics.com/transportation/">Transportation</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101"><a href="https://www.braceport-logistics.com/custom-clearance/">Custom Clearance</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1435"><a href="#">Investors</a><span></span>
<ul class="dl-submenu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1685"><a href="https://www.braceport-logistics.com/board-meeting-outcome/">Board Meeting Outcome</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1436"><a href="#">Financial Results</a>
	<ul class="dl-submenu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1445"><a href="https://www.braceport-logistics.com/board-report/">Board Report</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1444"><a href="https://www.braceport-logistics.com/balance-sheet/">Balance Sheet</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1443"><a href="https://www.braceport-logistics.com/form-aoc-4/">Form AOC-4</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1454"><a href="https://www.braceport-logistics.com/shareholding-pattern/">Shareholding Pattern</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1457"><a href="https://www.braceport-logistics.com/annual-return/">Annual Return</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1456"><a href="https://www.braceport-logistics.com/corporate-governance/">Corporate Governance</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1455"><a href="https://www.braceport-logistics.com/company-policies/">Company Policies</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1458"><a href="#">Offer Documents</a>
	<ul class="dl-submenu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1470"><a href="https://www.braceport-logistics.com/drhp/">DRHP</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1469"><a href="https://www.braceport-logistics.com/rhp/">RHP</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1468"><a href="https://www.braceport-logistics.com/prospectus/">Prospectus</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1649"><a href="https://www.braceport-logistics.com/other-documents/">Other Documents</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1467"><a href="https://www.braceport-logistics.com/investor-enquiry/">Investor Enquiry</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433"><a href="https://www.braceport-logistics.com/board-of-directors/">Board of Directors</a><span></span></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641"><a href="https://www.braceport-logistics.com/group-companies/">Group Companies</a><span></span></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022"><a href="https://www.braceport-logistics.com/contacts/">Contact Us</a><span></span></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197"><a target="_blank" href="https://tracking.braceport-logistics.com">Tracking</a><span></span></li>
</ul> <!-- responsive navigation end -->
            </div>  
                                                                                                                                                                                </div><!-- .navbar.navbar-collapse end --> 
                                                </nav><!-- .navbar.pi-mega end -->

                                                                                    </div>
                                    </div>
                                </div>
                            </div>
                                                        </div>
                                        </header>
            </section><!-- #header-wrapper end -->
<section class='page-content' style=''  ><section class='container'><div class='row' style=''><div class='col-md-12 ' style='' ><div class="cma-wp-widget widget widget_master-slider-main-widget cma_master-slider-main-widget" id="cma-widget-MSP_Main_Widget-1">
		<!-- MasterSlider -->
		<div id="P_MS68383e54524f7" class="master-slider-parent ms-parent-id-9"  >

			
			<!-- MasterSlider Main -->
			<div id="MS68383e54524f7" class="master-slider ms-skin-default" >
				 				 

			<div  class="ms-slide" data-delay="3" data-fill-mode="fill"   >
					<img decoding="async" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="https://www.braceport-logistics.com/wp-content/uploads/2023/05/service-ban.jpg" />

					<div  class="ms-layer  msp-cn-2-13" style=""   data-effect="t(true,n,-150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="400" data-ease="easeOutQuint"                data-offset-x="290" data-offset-y="352" data-origin="tl"   >
Powerful Transport &amp; Logistics Web Solution</div>

					<img decoding="async"  class="ms-layer" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" data-src="https://www.braceport-logistics.com/wp-content/uploads/2015/10/slider-line.jpg" alt="" style=""  data-effect="t(true,n,150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="200" data-ease="easeOutQuint"        data-type="image"          data-offset-x="540" data-offset-y="450" data-origin="tl"  />

					<div  class="ms-layer  msp-cn-2-12" style=""   data-effect="t(true,n,-40,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600"  data-ease="easeOutQuint"                data-offset-x="-19" data-offset-y="-10" data-origin="mc"   >
Sea &amp; Ocean Delivery</div>


				</div>
			<div  class="ms-slide" data-delay="3" data-fill-mode="fill"   >
					<img decoding="async" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/slider-plane_contrasted_light.jpg" />

					<div  class="ms-layer  msp-cn-9-24" style=""   data-effect="t(true,n,-150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="400" data-ease="easeOutQuint"                data-offset-x="290" data-offset-y="352" data-origin="tl"   >
Road, air, train or overseas. We got it covered!</div>

					<img decoding="async"  class="ms-layer" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" data-src="https://www.braceport-logistics.com/wp-content/uploads/2015/10/slider-line.jpg" alt="" style=""  data-effect="t(true,n,150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="200" data-ease="easeOutQuint"        data-type="image"          data-offset-x="540" data-offset-y="450" data-origin="tl"  />

					<div  class="ms-layer  msp-cn-9-23" style=""   data-effect="t(true,n,-40,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600"  data-ease="easeOutQuint"                data-offset-x="1" data-offset-y="0" data-origin="mc"   >
Freight services</div>


				</div>
			<div  class="ms-slide" data-delay="3" data-fill-mode="fill"   >
					<img decoding="async" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/slider-transportation.jpg" />

					<div  class="ms-layer  msp-cn-2-16" style=""   data-effect="t(true,n,-150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="400" data-ease="easeOutQuint"                data-offset-x="296" data-offset-y="352" data-origin="tl"   >
Powerful Transport &amp; Logistics Web Solution</div>

					<img decoding="async"  class="ms-layer" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" data-src="https://www.braceport-logistics.com/wp-content/uploads/2015/10/slider-line.jpg" alt="" style=""  data-effect="t(true,n,150,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="200" data-ease="easeOutQuint"        data-type="image"          data-offset-x="540" data-offset-y="450" data-origin="tl"  />

					<div  class="ms-layer  msp-cn-2-15" style=""   data-effect="t(true,n,-40,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600"  data-ease="easeOutQuint"                data-offset-x="0" data-offset-y="0" data-origin="mc"   >
Trucking</div>


				</div>
			<div  class="ms-slide" data-delay="3" data-fill-mode="fill"   >
					<img decoding="async" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/slider-custom.jpg" />

					<div  class="ms-layer  msp-cn-2-5" style=""   data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="1000" data-ease="easeOutQuint"                data-offset-x="0" data-offset-y="330" data-origin="tl"   >
Network</div>

					<div  class="ms-layer  msp-cn-2-4" style=""   data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="600" data-ease="easeOutQuint"                data-offset-x="0" data-offset-y="265" data-origin="tl"   >
Distribution</div>

					<div  class="ms-layer  msp-cn-2-2" style=""   data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="700" data-delay="425" data-ease="easeOutQuint"                data-offset-x="0" data-offset-y="197" data-origin="tl"   >
Strongest</div>

					<img decoding="async"  class="ms-layer" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/css/blank.gif" data-src="https://www.braceport-logistics.com/wp-content/uploads/2015/10/slider-line.jpg" alt="" style=""  data-effect="t(true,-150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="600" data-delay="200" data-ease="easeOutQuint"        data-type="image"          data-offset-x="0" data-offset-y="476" data-origin="tl"  />


				</div>

			</div>
			<!-- END MasterSlider Main -->

			 
		</div>
		<!-- END MasterSlider -->

		<script>
		( window.MSReady = window.MSReady || [] ).push( function( $ ) {

			"use strict";
			var masterslider_24f7 = new MasterSlider();

			// slider controls
			masterslider_24f7.control('arrows'     ,{ autohide:true, overVideo:true  });
			// slider setup
			masterslider_24f7.setup("MS68383e54524f7", {
				width           : 1200,
				height          : 640,
				minHeight       : 0,
				space           : 0,
				start           : 1,
				grabCursor      : true,
				swipe           : true,
				mouse           : true,
				keyboard        : false,
				layout          : "fullwidth",
				wheel           : false,
				autoplay        : false,
                instantStartLayers:false,
				mobileBGVideo:false,
				loop            : false,
				shuffle         : false,
				preload         : 0,
				heightLimit     : true,
				autoHeight      : false,
				smoothHeight    : true,
				endPause        : false,
				overPause       : true,
				fillMode        : "fill",
				centerControls  : false,
				startOnAppear   : false,
				layersMode      : "center",
				autofillTarget  : "",
				hideLayers      : false,
				fullscreenMargin: 0,
				speed           : 70,
				dir             : "h",
				responsive      : true,
				tabletWidth     : 768,
				tabletHeight    : null,
				phoneWidth      : 480,
				phoneHeight    : null,
				sizingReference : window,
				parallaxMode    : 'swipe',
				view            : "basic"
			});

			
			$("head").append( "<link rel='stylesheet' id='ms-fonts'  href='//fonts.googleapis.com/css?family=Raleway:800,300' type='text/css' media='all' />" );

			window.masterslider_instances = window.masterslider_instances || [];
			window.masterslider_instances.push( masterslider_24f7 );
		});
		</script>

</div></div></div><div class='row' style=''><div class='col-md-6 ' style='' ><div class='custom-heading'>
                            <h1>WELCOME TO SKYWAYS AIR SERVICES PVT. LTD.</h1>                            
                        </div><div class="cma-wp-widget widget widget_text cma_widget_text" id="cma-widget-WP_Widget_Text-3">			<div class="textwidget"><p>Skyways Air Services Pvt. Ltd. is our flagship air freight provider, dedicated to providing seamless supply chain solutions powered by digital logistics platforms. We specialize in API-integrated cargo tracking, real-time visibility, and data-driven air consolidations across major trade routes. Our expertise in diverse commodities ensures tailored solutions, supported by ERP-enabled operations and partnerships with airlines like Emirates, Lufthansa, Qatar Airways, British Airways, Air India, Singapore Airlines, Saudia Cargo, Turkish Airlines, etc. With automated freight management, we optimize pricing, reliability, and seamless cross-border movements for time-critical shipments. </p>
</div>
		</div></div><div class='col-md-6 ' style='' ><div class='custom-heading'>
                            <h5>Delivering with Passion </h5>                            
                        </div><img src='https://www.braceport-logistics.com/wp-content/uploads/2021/05/pexels-tom-fisk.jpg' class='center' title='pexels-tom-fisk' alt='pexels-tom-fisk' width='1536' height='720'/><div class='clearfix'></div></div></div></section></section><section class='page-content' style='margin-bottom: 0px;margin-top: 0px;'  id='sstop'><section class='container-fluid' style='padding-left: 0; padding-right: 0;'><div class='row service-box' style='margin-bottom: 0px ;margin-top: 0px;'><div class='col-md-3 custom-background color-background' style='background-color: #f7f7f7;' ><div class='custom-heading'>
                            <h2>Special Services</h2>                            
                        </div><div class="cma-wp-widget widget widget_text cma_widget_text" id="cma-widget-WP_Widget_Text-7">			<div class="textwidget"><p>Globally known for our ability to handle every last detail of our customers’ particular logistics and forwarding needs, Braceport Logistics Special Services team takes care of all your logistics.</p>
</div>
		</div></div><div class='col-md-9 custom-background color-background' style='background-color: #f7f7f7;' ><div class='carousel-container'><div class='services-carousel owl-carousel owl-dot' data-play='1' data-timeout='3000' data-navigation='1'><div class='owl-item'>
                                <div class='service-feature-box'>
                                    <div class='service-media'>
                                        <img src='https://www.braceport-logistics.com/wp-content/uploads/bfi_thumb/Fotolia-Subscription-1-p7ecnxh9r72ow5w30rdpdyuqwp7cnto9grqvdpi44k.jpg' alt='Ocean Freight'/>

                                        <a href='https://www.braceport-logistics.com/ocean-freight/' class='read-more02'>
                                            <span>
                                Read more
                                <i class='fa fa-chevron-right'></i>
                            </span>
                                        </a>
                                    </div>

                                    <div class='service-body'>
                                        <div class='custom-heading'>
                                            <a href='https://www.braceport-logistics.com/ocean-freight/'><h4>Ocean Freight</h4></a>
                                        </div>

                                        <p>We, a team of dedicated shipping professionals works hard to provide solutions for your everyday FCL and LCL needs. With representation globally.</p>
                                    </div>
                                </div>
                            </div><div class='owl-item'>
                                <div class='service-feature-box'>
                                    <div class='service-media'>
                                        <img src='https://www.braceport-logistics.com/wp-content/uploads/bfi_thumb/Fotolia_44261036_Subs-p7ecp9f1fqwbc9yg8u3of4r97cn2kdyknd0mutj1b8.jpg' alt='Air Freight'/>

                                        <a href='https://www.braceport-logistics.com/air-freight/' class='read-more02'>
                                            <span>
                                Read more
                                <i class='fa fa-chevron-right'></i>
                            </span>
                                        </a>
                                    </div>

                                    <div class='service-body'>
                                        <div class='custom-heading'>
                                            <a href='https://www.braceport-logistics.com/air-freight/'><h4>Air Freight</h4></a>
                                        </div>

                                        <p>BracePort offers niche expertise backed by a strong experience in international airfreight cargo services at your disposal.Inland trucking service.</p>
                                    </div>
                                </div>
                            </div><div class='owl-item'>
                                <div class='service-feature-box'>
                                    <div class='service-media'>
                                        <img src='https://www.braceport-logistics.com/wp-content/uploads/bfi_thumb/download-p7ecrk4u561jpymattuuijvth9bddr2yaqfd364e3o.jpg' alt='Warehousing'/>

                                        <a href='https://www.braceport-logistics.com/warehousing/' class='read-more02'>
                                            <span>
                                Read more
                                <i class='fa fa-chevron-right'></i>
                            </span>
                                        </a>
                                    </div>

                                    <div class='service-body'>
                                        <div class='custom-heading'>
                                            <a href='https://www.braceport-logistics.com/warehousing/'><h4>Warehousing</h4></a>
                                        </div>

                                        <p>BracePort offers, through professional warehouse providers, tailor-made solutions for various commodity groups. We have access to warehousing facilities.</p>
                                    </div>
                                </div>
                            </div><div class='owl-item'>
                                <div class='service-feature-box'>
                                    <div class='service-media'>
                                        <img src='https://www.braceport-logistics.com/wp-content/uploads/bfi_thumb/supply-chain-1-p7ed0wn23uu76d1i8vbab6yu578rxe6uwzz6w89g84.jpg' alt='Transportation'/>

                                        <a href='https://www.braceport-logistics.com/transportation/' class='read-more02'>
                                            <span>
                                Read more
                                <i class='fa fa-chevron-right'></i>
                            </span>
                                        </a>
                                    </div>

                                    <div class='service-body'>
                                        <div class='custom-heading'>
                                            <a href='https://www.braceport-logistics.com/transportation/'><h4>Transportation</h4></a>
                                        </div>

                                        <p>Through network of trustworthy and customer focused road freight partners, we offer a full range of road transportation services in India and Globally.</p>
                                    </div>
                                </div>
                            </div><div class='owl-item'>
                                <div class='service-feature-box'>
                                    <div class='service-media'>
                                        <img src='https://www.braceport-logistics.com/wp-content/uploads/bfi_thumb/custom-255x170-1-p7ed2hz7or0oukq7y23j1ahydpe5yxihgvrt63wfok.jpg' alt='Custom Clearance'/>

                                        <a href='https://www.braceport-logistics.com/custom-clearance/' class='read-more02'>
                                            <span>
                                Read more
                                <i class='fa fa-chevron-right'></i>
                            </span>
                                        </a>
                                    </div>

                                    <div class='service-body'>
                                        <div class='custom-heading'>
                                            <a href='https://www.braceport-logistics.com/custom-clearance/'><h4>Custom Clearance</h4></a>
                                        </div>

                                        <p>We offer effective customs clearance services for import as well as export Proper planning is what we do before moving ahead with the implementation of our customs solutions. </p>
                                    </div>
                                </div>
                            </div></div></div></div></div></section></section><section class='page-content' style='margin-top: 40px;'  ><section class='container'><div class='row' style=''><div class='col-md-12 ' style='' ><div class='custom-heading centered'>
                            <h2>Ensure 100% safety and  timely delivery of shipments!</h2>
                        </div></div></div></section></section><section class='page-content custom-background image-background' style='background-image: url(https://www.braceport-logistics.com/wp-content/uploads/2023/05/image-2-scaled.jpg);background-size: 100% 100%;background-repeat: repeat;margin-bottom: 40px;'  ><section class='container'><div class='row' style=''><div class='col-md-6  empty' style='' ></div><div class='col-md-6 ' style='' ><a href='https://www.braceport-logistics.com/contacts/' class='btn yellow btn-medium float-right'  ><span> CONTACT NOW</span></a><div class='clearfix'></div></div></div></section></section><section class='page-content' style=''  ><section class='container'><div class='row' style=''><div class='col-md-12 ' style='' ><div class='custom-heading centered'>
                            <h2>Our Carrier Partners</h2>
                        </div><div style='margin-top: 30px;' class=''><div class="cma-wp-widget widget widget_text cma_widget_text" id="cma-widget-WP_Widget_Text-12">			<div class="textwidget"><div class="wpcp-carousel-wrapper wpcp-wrapper-1173"><div id="wpcp-preloader-1173" class="wpcp-carousel-preloader"><img decoding="async" src=" https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/css/ajax-loader.gif "/></div><div id="sp-wp-carousel-free-id-1173" class="wpcp-carousel-section sp-wpcp-1173 nav-vertical-center wpcp-image-carousel wpcp-preloader wpcp-standard" data-slick='{ "accessibility":true, "arrows":true, "autoplay":true, "autoplaySpeed":3000, "dots":false, "infinite":true, "speed":600, "pauseOnHover":true, "slidesToShow":5, "responsive":[ { "breakpoint":1200, "settings": { "slidesToShow":4 } }, { "breakpoint":980, "settings":{ "slidesToShow":3 } }, { "breakpoint":736, "settings": { "slidesToShow":2 } }, {"breakpoint":480, "settings":{ "slidesToShow":1, "arrows": false, "dots": false } } ], "swipe": true, "draggable": true, "swipeToSlide":false }'  dir="ltr"><div class="wpcp-single-item"><div class="wpcp-slide-image"><img decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/BRITISH_AIRWAYS.png" alt="BRITISH_AIRWAYS" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/Emirates-logo.png" alt="Emirates-logo" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/LUFTHANSA_CARGO.png" alt="LUFTHANSA_CARGO" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/QATAR_AIRWAYS.png" alt="QATAR_AIRWAYS" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/Singapore_Airlines_Logo.png" alt="Singapore_Airlines_Logo" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/Untitled-1.png" alt="Untitled-1" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/Untitled-2.png" alt="Untitled-2" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/Untitled-3.png" alt="Untitled-3" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2021/05/Untitled-4.png" alt="Untitled-4" width="200" height="100"></div></div></div></div>
</div>
		</div></div></div></div><div class='row' style=''><div class='col-md-12 ' style='' ><div class='custom-heading centered'>
                            <h2>Our Global Networks</h2>
                        </div><div style='margin-top: 30px;' class=''><div class="cma-wp-widget widget widget_text cma_widget_text" id="cma-widget-WP_Widget_Text-14">			<div class="textwidget"><div class="wpcp-carousel-wrapper wpcp-wrapper-1222"><div id="wpcp-preloader-1222" class="wpcp-carousel-preloader"><img decoding="async" src=" https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/css/ajax-loader.gif "/></div><div id="sp-wp-carousel-free-id-1222" class="wpcp-carousel-section sp-wpcp-1222 nav-vertical-center wpcp-image-carousel wpcp-preloader wpcp-standard" data-slick='{ "accessibility":true, "arrows":true, "autoplay":true, "autoplaySpeed":3000, "dots":true, "infinite":true, "speed":600, "pauseOnHover":true, "slidesToShow":5, "responsive":[ { "breakpoint":1200, "settings": { "slidesToShow":4 } }, { "breakpoint":980, "settings":{ "slidesToShow":3 } }, { "breakpoint":736, "settings": { "slidesToShow":2 } }, {"breakpoint":480, "settings":{ "slidesToShow":1, "arrows": false, "dots": false } } ], "swipe": true, "draggable": true, "swipeToSlide":false }'  dir="ltr"><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2022/05/CFN-logo.jpg" alt="CFN logo" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2023/05/FNC-LOGO-1.jpg" alt="FNC LOGO" width="200" height="100"></div></div><div class="wpcp-single-item"><div class="wpcp-slide-image"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2022/05/2el_logo.jpg" alt="2el_logo" width="200" height="100"></div></div></div></div>
</div>
		</div></div></div></div><div class='row' style=''><div class='col-md-12 ' style='' ><div class='custom-heading centered'>
                            <h2>Customer Appreciation</h2>
                        </div><div style='margin-top: 30px;' class=''><div class="cma-wp-widget widget widget_text cma_widget_text" id="cma-widget-WP_Widget_Text-16">			<div class="textwidget"><div class="rl-gallery-container rl-loading" id="rl-gallery-container-1" data-gallery_id="1412"> <div class="rl-gallery rl-basicgrid-gallery " id="rl-gallery-1" data-gallery_no="1"> <div class="rl-gallery-item"><a href="https://www.braceport-logistics.com/wp-content/uploads/2023/05/RELAXO-APPRECIATION-LETTER-scaled.jpg" title="" data-rl_title="" class="rl-gallery-link" data-rl_caption="" data-rel="lightbox-gallery-1"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2023/05/RELAXO-APPRECIATION-LETTER-202x300.jpg" width="202" height="300" alt=""/></a></div><div class="rl-gallery-item"><a href="https://www.braceport-logistics.com/wp-content/uploads/2023/05/EQI-APPRECIATION-LETTER-scaled.jpeg" title="" data-rl_title="" class="rl-gallery-link" data-rl_caption="" data-rel="lightbox-gallery-1"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2023/05/EQI-APPRECIATION-LETTER-218x300.jpeg" width="218" height="300" alt=""/></a></div><div class="rl-gallery-item"><a href="https://www.braceport-logistics.com/wp-content/uploads/2023/05/ALLIED-APPRECIATION-LETTER-scaled.jpg" title="" data-rl_title="" class="rl-gallery-link" data-rl_caption="" data-rel="lightbox-gallery-1"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2023/05/ALLIED-APPRECIATION-LETTER-212x300.jpg" width="212" height="300" alt=""/></a></div><div class="rl-gallery-item"><a href="https://www.braceport-logistics.com/wp-content/uploads/2023/05/ICL-APPRECIATION-LETTER-scaled.jpg" title="" data-rl_title="" class="rl-gallery-link" data-rl_caption="" data-rel="lightbox-gallery-1"><img loading="lazy" decoding="async" src="https://www.braceport-logistics.com/wp-content/uploads/2023/05/ICL-APPRECIATION-LETTER-212x300.jpg" width="212" height="300" alt=""/></a></div> </div> </div>
</div>
		</div></div></div></div></section></section><section class='page-content' style=''  ><section class='container'><div class='row' style='margin-bottom: 0px ;margin-top: 0px;'><div class='col-md-6 custom-background color-background' style='background-color: #f7f7f7;margin-top:0px;padding-top:80px;padding-bottom:80px;' ><div class='custom-heading'>
                            <h2>What makes us special?</h2>                            
                        </div><div style='margin-top: 30px;margin-bottom: 30px;' class=''><div class="cma-wp-widget widget widget_text cma_widget_text" id="cma-widget-WP_Widget_Text-18">			<div class="textwidget"><p>We look for solutions that meet your needs to ensure customer satisfaction and compliance with supply chain timing and regulations.</p>
</div>
		</div></div><img src='https://www.braceport-logistics.com/wp-content/uploads/2021/05/servirce-icons.jpg' class='center' title='servirce-icons' alt='servirce-icons' width='600' height='228'/><div class='clearfix'></div></div><div class='col-md-6 hprqf custom-background color-background' style='background-color: #ffcc29;margin-top:0px;padding-top:80px;padding-bottom:80px;' ><div class='custom-heading'>
                            <h2>Request a Free Quote</h2>                            
                        </div><div class='cma-wysiwyg-editor'><div role="form" class="wpcf7" id="wpcf7-f468-p18-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/#wpcf7-f468-p18-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="468" />
<input type="hidden" name="_wpcf7_version" value="5.5.3" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f468-p18-o1" />
<input type="hidden" name="_wpcf7_container_post" value="18" />
<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</div>
<div class="request_quote">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="input-group"><span class="wpcf7-form-control-wrap freight_type"><select name="freight_type" class="wpcf7-form-control wpcf7-select" aria-invalid="false"><option value="">Freight Type</option><option value="Road Transportation">Road Transportation</option><option value="Air Transportation">Air Transportation</option><option value="Sea Transportation">Sea Transportation</option><option value="Warehousing">Warehousing</option></select></span>
</div>
<div class="input-group"><span class="wpcf7-form-control-wrap departure_city"><input type="text" name="departure_city" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="City of departure" /></span>
</div>
<div class="input-group"><span class="wpcf7-form-control-wrap delivery_city"><input type="text" name="delivery_city" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Delivery city" /></span>
</div>
<div class="input-group"><span class="wpcf7-form-control-wrap incoterms"><select name="incoterms" class="wpcf7-form-control wpcf7-select" aria-invalid="false"><option value="">Incoterms</option><option value="EXW">EXW</option><option value="FCA">FCA</option><option value="CPT">CPT</option><option value="CIP">CIP</option><option value="DAT">DAT</option><option value="DAP">DAP</option><option value="DDP">DDP</option><option value="FAS">FAS</option><option value="FOB">FOB</option><option value="CFR">CFR</option><option value="CIF">CIF</option></select></span>
</div>
<div class="input-group"><span class="wpcf7-form-control-wrap total_weight"><input type="text" name="total_weight" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Total gross weight (KG)" /></span>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="input-group"><span class="wpcf7-form-control-wrap dimension"><input type="text" name="dimension" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Dimension" /></span>
</div>
<div class="input-group"><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
</div>
<div class="input-group"><span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea></span>
</div>
<div class="input-group"><input type="submit" value="Submit" class="wpcf7-form-control has-spinner wpcf7-submit" />
</div>
</div>
</div>
</div>
<div class="wpcf7-response-output" aria-hidden="true"></div></form></div></div></div></div></section></section>
<!-- footer wrapper start -->
<section id="footer-wrapper" class="footer-dark">
            <footer id="footer">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <!-- animated fadeInTop -->
                    <section >

                                                    <ul class="footer-widget-container col-md-3">
                                <li id="media_image-2" class="widget widget_media_image"><img src="../images/sls-India-logo-web.png" /></li><li id="text-2" class="widget widget_text">			<div class="textwidget"><p>Everyday is a new day for us and we work really hard to satisfy our customer everywhere.</p>
</div>
		</li>
                            </ul>
                                                    <ul class="footer-widget-container col-md-3">
                                <li id="nav_menu-1" class="widget widget_nav_menu"><div class="title"><h3>OUR SERVICES</h3></div><div class="menu-our-services-container"><ul id="menu-our-services" class="menu"><li id="menu-item-824" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-824"><a href="https://www.braceport-logistics.com/ocean-freight/">Ocean Freight</a></li>
<li id="menu-item-823" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-823"><a href="https://www.braceport-logistics.com/air-freight/">Air Freight</a></li>
<li id="menu-item-822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-822"><a href="https://www.braceport-logistics.com/warehousing/">Warehousing</a></li>
<li id="menu-item-1137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1137"><a href="https://www.braceport-logistics.com/special-movements/">Special Movements</a></li>
<li id="menu-item-825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-825"><a href="https://www.braceport-logistics.com/transportation/">Transportation</a></li>
<li id="menu-item-1136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1136"><a href="https://www.braceport-logistics.com/custom-clearance/">Custom Clearance</a></li>
</ul></div></li>
                            </ul>
                                                    <ul class="footer-widget-container col-md-3">
                                <li id="volcanno_contact_info-2" class="widget contact-info"><div class="title"><h3>GET IN TOUCH</h3></div><address><ul class='contact-info-list'><li>                        
                    <i class='fa fa-home'></i>
                    
                    A -128 & 129, Mahipalpur Extension NH-8, New Delhi - 110037, India                       
                  </li><li>                       
                        <i class='fa fa-envelope-o'></i>
                        
                        <a href="mailto:info@skyways-group.com"><span class="mail_span">info@skyways-group.com</span></a>                        
                    </li></ul></address></li>
                            </ul>
                                                    <ul class="footer-widget-container col-md-3">
                                <li id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce"><div class="title"><h3>Follow Us on</h3></div><div class="textwidget"><ul><li><a href="https://www.facebook.com/skywayslogisticsgroup/" target="_blank" class="social-facebook" rel="noopener"><i class="fa fa-facebook"></i></a></li>

<li><a href="https://www.linkedin.com/company/33243275/" target="_blank" class="social-linkedin" rel="noopener"><i class="fa fa-linkedin"></i></a></li></ul></div></li>
                            </ul>
                                            </section>
                </div><!-- .row end -->
            </div><!-- .container end -->                
        </footer><!-- .footer-end -->
    
            <!-- copyright container start -->
        <section id="copyright-container" class="copyright-container">
            <!-- .container start -->
            <div class="container">
                <!-- .row start -->
                <div class="row">
                    <section class="col-md-6">                    
                        <p>Copyright © 2025-2025 Skyways Air Services Pvt. Ltd. All rights reserved. 

</p>
                    </section>

                    <section class="col-md-6 copyright-right">
                        <p>
Design and Developed by sGate Tech Solutions Pvt. Ltd.</p>                    </section><!-- .col-md-6 omega end -->        
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section><!-- .copyright-container end -->

    </section><!-- .footer-wrapper end -->
    <a href="#" class="scroll-up">Scroll</a>
<div class="clear"></div>
<script type="speculationrules">
{"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/wp-*.php","\/wp-admin\/*","\/wp-content\/uploads\/*","\/wp-content\/*","\/wp-content\/plugins\/*","\/wp-content\/themes\/trucking-child-theme\/*","\/wp-content\/themes\/trucking\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
</script>

                        <span class="ht_ctc_chat_data" 
                data-no_number=""
                data-settings="{&quot;number&quot;:&quot;919818200211&quot;,&quot;pre_filled&quot;:&quot;&quot;,&quot;dis_m&quot;:&quot;show&quot;,&quot;dis_d&quot;:&quot;show&quot;,&quot;css&quot;:&quot;display: none; cursor: pointer; z-index: 99999999;&quot;,&quot;pos_d&quot;:&quot;position: fixed; bottom: 15px; right: 15px;&quot;,&quot;pos_m&quot;:&quot;position: fixed; bottom: 15px; right: 15px;&quot;,&quot;schedule&quot;:&quot;no&quot;,&quot;se&quot;:150,&quot;ani&quot;:&quot;no-animations&quot;,&quot;url_target_d&quot;:&quot;_blank&quot;,&quot;ga&quot;:&quot;yes&quot;,&quot;fb&quot;:&quot;yes&quot;,&quot;g_init&quot;:&quot;default&quot;,&quot;g_an_event_name&quot;:&quot;chat: {number}&quot;,&quot;pixel_event_name&quot;:&quot;Click to Chat by HoliThemes&quot;}" 
            ></span>
            <link rel='stylesheet' id='responsive-lightbox-gallery-css' href='https://www.braceport-logistics.com/wp-content/plugins/responsive-lightbox/css/gallery.css?ver=2.4.5' type='text/css' media='all' />
<style id='responsive-lightbox-gallery-inline-css' type='text/css'>
:root {
						--rl-gallery-background_color: #000000;
						--rl-gallery-background_opacity: 0.8;
						--rl-gallery-border_color: #000000;
						--rl-gallery-title_color: #ffffff;
						--rl-gallery-caption_color: #cccccc;
					}
					.rl-gallery .rl-gallery-link {
						border: 0px solid #000000;
					}
					.rl-gallery .rl-gallery-link .rl-gallery-item-title {
						color: #ffffff;
					}
					.rl-gallery .rl-gallery-link .rl-gallery-item-caption {
						color: #cccccc;
					}
					.rl-gallery .rl-gallery-link .rl-gallery-caption,
					.rl-gallery .rl-gallery-link:after {
						background-color: rgba( 0,0,0, 0.8 );
					}
					[class^="rl-hover-icon-"] .rl-gallery-link:before,
					[class*=" rl-hover-icon-"] .rl-gallery-link:before {
						color: #ffffff;
						background-color: rgba( 0,0,0, 0.8 );
					}
</style>
<link rel='stylesheet' id='responsive-lightbox-basicgrid-gallery-css' href='https://www.braceport-logistics.com/wp-content/plugins/responsive-lightbox/css/gallery-basicgrid.css?ver=2.4.5' type='text/css' media='all' />
<style id='responsive-lightbox-basicgrid-gallery-inline-css' type='text/css'>

			#rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
				width: calc(33.33% - 2px);
				margin: 1px;
			}
			@media all and (min-width: 1200px) {
				#rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
					width: calc(25% - 2px);
				}
			}
			@media all and (min-width: 992px) and (max-width: 1200px) {
				#rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
					width: calc(33.33% - 2px);
				}
			}
			@media all and (min-width: 768px) and (max-width: 992px) {
				#rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
					width: calc(50% - 2px);
				}
			}
			@media all and (max-width: 768px) {
				#rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
					width: calc(100% - 2px);
				}
			}
		
</style>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-includes/js/comment-reply.min.js?ver=6.8.1" id="comment-reply-js" async="async" data-wp-strategy="async"></script>

<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/click-to-chat-for-whatsapp/new/inc/assets/js/app.js?ver=4.6" id="ht_ctc_app_js-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0" id="wp-polyfill-js"></script>
<script type="text/javascript" id="contact-form-7-js-extra">
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/www.braceport-logistics.com\/wp-json\/","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.5.3" id="contact-form-7-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/js/jquery.plugins.min.js?ver=1.0" id="volcanno_jquery_plugins-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/js/jquery.dlmenu.min.js?ver=1.0" id="dl-menu-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/js/jquery.matchHeight-min.js?ver=1.0" id="match-heights-js"></script>
<script type="text/javascript" id="volcanno_include-js-extra">
/* <![CDATA[ */
var VolcannoConfig = {"themeName":"trucking","cmaActive":"1","staticHeader":"1","retina":"1","portfolioLightboxOptions":"animated","portfolioLightboxCurrent":"0","mobileMenuBackLabel":"back"};
/* ]]> */
</script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/js/include.js?ver=1.0" id="volcanno_include-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/includes/cma-content/services/js/services.js?ver=1.0" id="cma-scripts-services-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/includes/assets/owl-carousel/owl.carousel.min.js?ver=1.0" id="owl-carousel-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/themes/trucking/includes/cma-content/services_1/js/services_1.js?ver=1.0" id="cma-scripts-services-1-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/js/jquery.easing.min.js?ver=3.4.5" id="jquery-easing-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/masterslider/public/assets/js/masterslider.min.js?ver=3.4.5" id="masterslider-core-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/js/slick.min.js?ver=2.1.19" id="wpcf-slick-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/js/wp-carousel-free-public.min.js?ver=2.1.19" id="wpcf-slick-config-js"></script>
<script type="text/javascript" src="https://www.braceport-logistics.com/wp-content/plugins/wp-carousel-free/public/js/preloader.min.js?ver=2.1.19" id="wpcp-preloader-js"></script>
</body>
</html>
