<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
   <![endif]-->
   <!--[if IE 7]>
   <html id="ie7" lang="en-US">
      <![endif]-->
      <!--[if IE 8]>
      <html id="ie8" lang="en-US">
         <![endif]-->
         <!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
         <html lang="en-US">
            <!--<![endif]-->
            <head>
               <meta charset="UTF-8" />
               <meta name="viewport" content="width=device-width, initial-scale=1" />
               <title>Mr. Santosh Ramanuj Tiwari :: Independent Director</title>
               <meta name='robots' content='max-image-preview:large' />
               <style>img:is([sizes="auto" i], [sizes^="auto," i]) { contain-intrinsic-size: 3000px 1500px; }.wpcp-carousel-section .wpcp-single-item{border:1px solid #ddd;}</style>
               <link rel='dns-prefetch' href='//fonts.googleapis.com' />
               <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
               <link rel='stylesheet' id='ht_ctc_main_css-css' href='../css/main.css' type='text/css' media='all' />
               <link rel='stylesheet' id='extendify-sdk-utility-classes-css' href='../css/extendify-utilities.css' type='text/css' media='all' />
               <link rel='stylesheet' id='contact-form-7-css' href='../css/styles.css' type='text/css' media='all' />
               <link rel='stylesheet' id='cma-frontend-css' href='../css/frontend.css' type='text/css' media='all' />
               <link rel='stylesheet' id='font-awesome-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='cma-animate-css-css' href='../css/animate.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='responsive-lightbox-swipebox-css' href='../css/swipebox/swipebox.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='tweetscroll-css' href='../css/tweetscroll.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='wpcf-slick-css' href='../css/slick.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='wp-carousel-free-fontawesome-css' href='../css/font-awesome.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='wp-carousel-free-css' href='../css/wp-carousel-free-public.min.css' type='text/css' media='all' />
               <style id='wp-carousel-free-inline-css' type='text/css'>
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li button {
                  background-color: #cccccc;
                  }
                  #sp-wp-carousel-free-id-1305.sp-wpcp-1305 ul.slick-dots li.slick-active button {
                  background-color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1305.nav-vertical-center {
                  padding: 0;
                  }
                  }#sp-wp-carousel-free-id-1222.sp-wpcp-1222 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li button {
                  background-color: #cccccc;
                  }
                  #sp-wp-carousel-free-id-1222.sp-wpcp-1222 ul.slick-dots li.slick-active button {
                  background-color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1222.nav-vertical-center {
                  padding: 0;
                  }
                  }#sp-wp-carousel-free-id-1173.sp-wpcp-1173 .wpcp-single-item {
                  border: 1px solid #dddddd;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev:hover,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next:hover {
                  background: none;
                  border: none;
                  font-size: 30px;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i {
                  color: #aaa;
                  }
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-prev i:hover,
                  #sp-wp-carousel-free-id-1173.sp-wpcp-1173 .slick-next i:hover {
                  color: #52b3d9;
                  }
                  @media screen and (max-width: 479px) {
                  #sp-wp-carousel-free-id-1173.nav-vertical-center {
                  padding: 0;
                  }
                  }
               </style>
               <link rel='stylesheet' id='cma-style-tooltip-css' href='../css/tooltips/css/hint.min.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='cma-styles-bootstrap-css' href='../css/bootstrap.min.css' type='text/css' media='all' />
               <link rel='stylesheet' id='volcanno-style-css' href='../css/theme-style.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='pixons-css' href='../css/style.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='linecons-css' href='../css/linecons.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='nivoslider-css' href='../css/nivo-slider.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='hint-css-css' href='../css/hint.min.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='owl-carousel-css' href='../css/owl.carousel.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='magnific-popup-css' href='../css/magnific-popup.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-google-fonts-css' href='//fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900,200,100%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' type='text/css' media='all' />
               <link rel='stylesheet' id='volcanno-responsive-css' href='../css/responsive.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-retina-css-css' href='../css/retina.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno-color-style-css' href='../css/color-default.css' type='text/css' media='screen' />
               <link rel='stylesheet' id='volcanno_custom_css-css' href='../css/custom-styles.php' type='text/css' media='screen' />
               <link rel='stylesheet' id='ms-main-css' href='../css/masterslider.main.css' type='text/css' media='all' />
               <link rel='stylesheet' id='ms-custom-css' href='../css/custom.css' type='text/css' media='all' />
               <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" />
               <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" media="print" onload="this.media='all'">
               <noscript>
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open%20Sans%7CTitillium%20Web:300,400&#038;subset=latin-ext,latin&#038;display=swap&#038;ver=1692441911" />
               </noscript>
               <script type="text/javascript" src="../js/jquery.min.js" id="jquery-core-js"></script>
               <script type="text/javascript" src="../js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
               <script type="text/javascript" src="../js/cma.frontend.min.js" id="cma-frontend-js"></script>
               <script type="text/javascript" src="../js/waypoints.min.js" id="cma-waypoints-js"></script>
               <script type="text/javascript" src="../js/jquery.stellar.min.js" id="cma-stellar-js"></script>
               <script type="text/javascript" src="../js/jquery.swipebox.min.js" id="responsive-lightbox-swipebox-js"></script>
               <script type="text/javascript" src="../js/underscore.min.js" id="underscore-js"></script>
               <script type="text/javascript" src="../js/infinite-scroll.pkgd.min.js" id="responsive-lightbox-infinite-scroll-js"></script>
               <script type="text/javascript" src="../js/front.js" id="responsive-lightbox-js"></script>
               <script type="text/javascript" src="../js/jquery.tweetscroll.js" id="tweetscroll-js"></script>
               <script type="text/javascript" src="../js/volcanno.functions.js" id="volcanno_functions-js"></script>
               <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
                  .page-title-style02{top: 90px;margin-bottom: 160px;}
               </style>
               <link rel="icon" href="../images/skywayslogo_new.png" sizes="32x32" />
               <link rel="icon" href="../images/skywayslogo_new.png" sizes="192x192" />
               <link rel="apple-touch-icon" href="../images/skywayslogo_new.png" />
               <meta name="msapplication-TileImage" content="../images/skywayslogo_new.png" />
               <style type="text/css" id="wp-custom-css">
                  .d-none{display:none;}
                  .image-background{height: 570px !important;}
                  .custom-heading h2{font-weight:500;}
                  .page-id-1291 .custom-heading02:after {display:none;}
                  #txtfs .textwidget p{font-size:24px!important;
                  font-weight:600;
                  color:#fac312;}
                  .contact-info-list li{background-image:none!important;}
                  #black-studio-tinymce-2 li{background-image:none!important;font-size:16px;}
                  #bbst{padding-top:0px!important;}
                  #sstop .service-box{padding-top:40px!important;}
                  .request_quote .input-group{width:100%;margin-bottom:15px;}
                  #bbst .hprqf h2{color:#ffffff;}
                  #bbst .hprqf .custom-heading:after{background-color: #ffffff;}
                  @media only screen 
                  and (min-device-width : 320px) 
                  and (max-device-width : 480px) {
                  #txtfs{background-size: cover!important;}
                  .dl-menuwrapper button{border-radius:0px!important;
                  -webkit-border-radius:0px!important;
                  -moz-border-radius: 0px!important;color: #333;padding-left: 25px!important;width:auto!important;}
                  }
               </style>
               <style id="volcanno_options-dynamic-css" title="dynamic-css" class="redux-options-output">.page-title-style02 h1,.page-title-style01 h1{color:#FFFFFF;}body{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}p{font-family:"Open Sans";line-height:22px;font-weight:normal;font-style:normal;color:#777;font-size:13px;font-display:swap;}h1{font-family:"Titillium Web";line-height:48px;font-weight:300;font-style:normal;color:#333333;font-size:42px;font-display:swap;}h2{font-family:"Titillium Web";line-height:42px;font-weight:300;font-style:normal;color:#333333;font-size:36px;font-display:swap;}h3{font-family:"Titillium Web";line-height:24px;font-weight:400;font-style:normal;color:#333333;font-size:21px;font-display:swap;}h4{font-family:"Titillium Web";line-height:22px;font-weight:400;font-style:normal;color:#333333;font-size:18px;font-display:swap;}h5{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:16px;font-display:swap;}h6{font-family:"Titillium Web";line-height:18px;font-weight:400;font-style:normal;color:#333333;font-size:15px;font-display:swap;}</style>
            </head>
            <body class="home wp-singular page-template-default page page-id-18 wp-theme-trucking wp-child-theme-trucking-child-theme  homepage content-maker _masterslider _msp_version_3.4.5">
               <!-- #header-wrapper start -->
               <section id="header-wrapper" class="clearfix header-wrapper  search-hidden">
                  <header id="header" class="header-style02">
                     <!-- #top-bar-wrapper start -->
                     <div id="top-bar-wrapper" class="clearfix ">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-6 col-xs-9">
                              </div>
                              <!-- .col-md-6 end -->
                              <div class="col-md-6 col-xs-3">
                              </div>
                              <!-- .col-md-6 end -->
                           </div>
                           <!-- .row end -->
                        </div>
                        <!-- .container end -->
                     </div>
                     <!-- #top-bar-wrapper end -->
                     <div class="header-inner">
                        <!-- .container start -->
                        <div class="container">
                           <div class="main-nav">
                              <div class="row">
                                 <div class="col-md-12">
                                    <!-- .navbar.pi-mega start -->
                                    <nav class="navbar navbar-default nav-left pi-mega" role="navigation">
                                       <!-- .navbar-header start -->
                                       <div class="navbar-header">
                                          <!-- .logo start -->
                                          <div class="logo">
                                             <a href="/"><img src='../images/skywayslogo_new.png' alt='Skyways Air Services Limited' /></a>
                                          </div>
                                          <!-- logo end -->
                                       </div>
                                       <!-- Collect the nav links, forms, and other content for toggling -->
                                       <div class="collapse navbar-collapse">
                                          <ul id="menu-navigation" class="nav navbar-nav pi-nav menu">
                                             <li id="menu-item-1020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020 dropdown"><a href="/">Home<span></span></a></li>
                                             <li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021 dropdown"><a href="/about-us/">About Us<span></span></a></li>
                                             <li id="menu-item-1023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023 dropdown">
                                                <a href="/our-services" data-toggle="dropdown">Our Services<span></span></a>
                                                <ul class="dropdown-menu">
                                                   <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/air-freight">Air Freight</a></li>
                                                   <li id="menu-item-1104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104 dropdown"><a href="/contract-logistics">Contract Logistics</a></li>
                                                   <li id="menu-item-1127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127 dropdown"><a href="/cuddle">Cuddle</a></li>
                                                   <li id="menu-item-1131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131 dropdown"><a href="/d-tox">D-tox</a></li>
                                                   <li id="menu-item-1102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102 dropdown"><a href="/warehousing">Warehousing</a></li>
                                                   <!--<li id="menu-item-1101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101 dropdown"><a href="/cold-storage">Cold Storage</a></li>-->
                                                </ul>
                                             </li>
                                             <li id="menu-item-1435" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1435 dropdown">
                                                 <a href="/investors/">Investors</a><span></span></a>
                                               <!-- <ul class="dropdown-menu">
                                                   <li id="menu-item-1436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1436 dropdown">
                                                      <a href="#">Financial Results</a>
                                                      <ul class="dropdown-menu depth-1">
                                                         <li id="menu-item-1445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1445 dropdown"><a href="/board-report/">Board Report</a></li>
                                                         <li id="menu-item-1444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1444 dropdown"><a href="/balance-sheet/">Balance Sheet</a></li>
                                                         <li id="menu-item-1443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1443 dropdown"><a href="/form-aoc-4/">Form AOC-4</a></li>
                                                      </ul>
                                                   </li>
                                                   <li id="menu-item-1454" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1454 dropdown"><a href="/shareholding-pattern/">Shareholding Pattern</a></li>
                                                   <li id="menu-item-1457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1457 dropdown"><a href="/annual-return/">Annual Return</a></li>
                                                   <li id="menu-item-1456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1456 dropdown"><a href="/corporate-governance/">Corporate Governance</a></li>
                                                   <li id="menu-item-1455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1455 dropdown"><a href="/company-policies/">Company Policies</a></li>
                                                   <li id="menu-item-1458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1458 dropdown">
                                                      <a href="#">Offer Documents</a>
                                                      <ul class="dropdown-menu depth-1">
                                                         <li id="menu-item-1470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1470 dropdown"><a href="/drhp/">DRHP</a></li>
                                                         <li id="menu-item-1469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1469 dropdown"><a href="/rhp/">RHP</a></li>
                                                         <li id="menu-item-1468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1468 dropdown"><a href="/prospectus/">Prospectus</a></li>
                                                         <li id="menu-item-1649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1649 dropdown"><a href="/other-documents/">Other Documents</a></li>
                                                      </ul>
                                                   </li>
                                                   <li id="menu-item-1467" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1467 dropdown"><a href="/investor-enquiry/">Investor Enquiry</a></li>
                                                </ul>-->
                                             </li>
                                             <li id="menu-item-1433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433 dropdown"><a href="/board-of-directors/">Board of Directors<span></span></a></li>
                                             <li id="menu-item-1641" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641 dropdown"><a href="/group-companies/">Group Companies<span></span></a>
											    <ul class="dropdown-menu desktopmenu">
                                                   <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103 dropdown"><a href="/subsidiaries">Subsidiaries</a></li>
                                                  
                                                </ul>
											 
											 
											 </li>
                                             <li id="menu-item-1022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022 dropdown"><a href="/contacts/">Contact Us<span></span></a></li>
                                             <li id="menu-item-1197" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197 dropdown"><a target="_blank" href="https://track.skyways-group.com/index.php">Tracking<span></span></a></li>
                                          </ul>
                                       
                                          </div>
                                       </div>
                                       <!-- .navbar.navbar-collapse end --> 
                                    </nav>
                                    <!-- .navbar.pi-mega end -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>



                          <div class="menu_box">
                            <div id="mySidenav" class="sidenav menu_main">
                                <div class="closeee"><h5>Menu</h5><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>
                               <ul id="menu-navigation-1" class="menu dl-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-1020"><a href="/">Home</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href="/about-us/">About Us</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1023">
                                                   <a href="javascript:void(0)">Our Services<i class="arrowMenu">&#9013;</i></a>
                                                   <ul class="dl-submenu">
												      <div class="backmenu"><h3 class="backsingle">Back</h3> <h5><a href="/our-services">Our Services</a> </h5></div>
													  
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/air-freight">Air Freight</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104"><a href="/contract-logistics">Contract Logistics</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1127"><a href="/cuddle">Cuddle</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1131"><a href="/d-tox">D-tox</a></li>
                                                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1102"><a href="/warehousing">Warehousing</a></li>
													 
                                                      <!--<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1101"><a href="/cold-storage">Cold Storage</a></li>-->
                                                   </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1435">
                                                   <a href="/investors/">Investors</a>
                                                 
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1433"><a href="/board-of-directors/">Board of Directors</a><span></span></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641"><a href="avascript:void(0)">Group Companies <i class="arrowMenu">&#9013;</i></a>
												
												    <ul class="dl-submenu">
												      <div class="backmenu"><h3 class="backsingle">Back</h3> <h5><a href="/group-companies/">Group Companies </a> </h5></div>
													       <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="/subsidiaries">Subsidiaries</a></li>
													 
													  
                                                   </ul>
												
												
												</li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1022"><a href="/contacts/">Contact Us</a><span></span></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1197"><a target="_blank" href="https://track.skyways-group.com/index.php">Tracking</a><span></span></li>
                                             </ul>
                            </div>
                            <span class="menu_b" onclick="openNav()">&#9776;</span>
                        </div>



<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".menu_b").addEventListener("click", () => {
      document.getElementById("mySidenav").style.width = "100%";
    });

    document.querySelector(".closebtn").addEventListener("click", () => {
      document.getElementById("mySidenav").style.width = "0";
    });
  });
</script>

<!-- Your menu HTML goes here -->

<script is:inline>
  // Handle first-level menu items
  document.querySelectorAll(".menu_main > ul > li").forEach(function (item) {
    item.addEventListener("click", function (e) {
      e.stopPropagation();
      const dropdown = this.querySelector(".dl-submenu");
      if (!dropdown) return;

      const isOpen = dropdown.style.display === "block";

      // Close all submenus + sub-submenus
      document.querySelectorAll(".dl-submenu").forEach(dd => dd.style.display = "none");
      document.querySelectorAll(".dl-submenusub").forEach(dd => dd.style.display = "none");

      if (!isOpen) {
        dropdown.style.display = "block";
      }
    });
  });

  // Handle second-level menu items (inside dl-submenu)
  document.querySelectorAll(".menu_main > ul > li > ul > li").forEach(function (item) {
    item.addEventListener("click", function (e) {
      e.stopPropagation();
      const subDropdown = this.querySelector(".dl-submenusub");
      if (!subDropdown) return;

      const isOpen = subDropdown.style.display === "block";

      // Close all sub-submenus
      document.querySelectorAll(".dl-submenusub").forEach(dd => dd.style.display = "none");

      if (!isOpen) {
        subDropdown.style.display = "block";
      }
    });
  });

  // Prevent closing when clicking inside submenu or sub-submenu
  document.querySelectorAll(".dl-submenu, .dl-submenusub").forEach(function (submenu) {
    submenu.addEventListener("click", function (e) {
      e.stopPropagation();
    });
  });

  // Back buttons
  document.querySelectorAll(".backsingle").forEach(function (backItem) {
    backItem.addEventListener("click", function (e) {
      e.stopPropagation();
      const parentSubmenu = this.closest(".dl-submenu");
      if (parentSubmenu) {
        parentSubmenu.style.display = "none";
      }
    });
  });

  document.querySelectorAll(".backdouble").forEach(function (backItem) {
    backItem.addEventListener("click", function (e) {
      e.stopPropagation();
      const parentSubmenu = this.closest(".dl-submenusub");
      if (parentSubmenu) {
        parentSubmenu.style.display = "none";
      }
    });
  });

  // Clicking outside closes all
  document.addEventListener("click", function () {
    document.querySelectorAll(".dl-submenu, .dl-submenusub").forEach(dd => dd.style.display = "none");
  });
</script>


                  </header>
               </section>
               <!-- #header-wrapper end -->
               <!-- .page-title start -->
               <div class="page-title-style02 " style='background-image: url(../images/services-banner.jpg) !important;'>
                  <div class="pt-mask pt-title"></div>
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1>MR. SANTOSH RAMANUJ TIWARI</h1>
                           <p style="color: #d9d5d5;">INDEPENDENT DIRECTOR</p>
                        </div>
                        <!-- .col-md-6 end -->
                        
                        <!-- .col-md-6 end -->
                     </div>
                     <!-- .row end -->
                  </div>
                  <!-- .container end -->
               </div>
               <!-- .page-title-style01.page-title-negative-top end -->
               <section class='page-content' style=''  >
                  <section class='container'>
                     <div class='row' style=''>
                        <div class='col-md-12 ' style='' >
                           <div style='margin-bottom: 30px;' class=''>
                              <div class='cma-wysiwyg-editor'>

<div class="profileDirector">
    <div class="profileDirector1">
        <p style="text-align: justify;">
              CA Santosh Ramanuj Tiwari is the independent director of our Company. He completed his degree of Bachelor of Commerce from Patna University in 2004. He is the fellow member of the Institute of Chartered Accountants of India (ICAI) since 2014. He has completed various courses conducted by the Institute of Chartered Accountants of India such as Information Systems Audit (ISA) Assessment Test, Forensic Accounting and Fraud Detection and Anti-Money Laundering Laws. He is also empanelled as Peer Reviewer with the Peer Review Board of the Institute of Chartered Accountants of India and also the member of the Institute of Social Auditors of India since April 2018. He is also the member of the ICSI Registered Valuers Organisation. He is also registered to act as an insolvency professional under the Insolvency and Bankruptcy Board of India. He started a proprietor firm namely Santosh Ramanuj & Co. in 2009 and converted it into a partnership firm in 2014. 
            </p>
  <p class="director-para">He holds a working experience of around 16 years in the field of assurance, risk advisory, forensic audit, data analytics, due diligence, forensic auditor, corporate compliances, taxations and related matters. He joined our Company as Independent Director in May 2025.
</p>
    </div>
    <div class="profileDirector2">
        <img src='../images/img-santosh.jpg' alt="">
	<p class="titles"><strong>MR. SANTOSH RAMANUJ TIWARI</strong></p>
        <p>INDEPENDENT DIRECTOR</p>
    </div>

  
</div>
			
      




	</div>
								 
								 
								 
								 
                                 <br />
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  
                  </section>
               </section>
               <!-- footer wrapper start -->
               <section id="footer-wrapper" class="footer-dark">
                  <footer id="footer">
                     <!-- .container start -->
                     <div class="container">
                        <!-- .row start -->
                        <div class="row">
                           <!-- animated fadeInTop -->
                           <section >
                              <ul class="footer-widget-container col-md-3">
                                 <li id="media_image-2" class="widget widget_media_image"><img src="../images/skywayslogo_new.png" /></li>
                                 <li id="text-2" class="widget widget_text">
                                    <div class="textwidget">
                                       <p>Everyday is a new day for us and we work really hard to satisfy our customer everywhere.</p>
                                    </div>
                                 </li>
                              </ul>
                              <ul class="footer-widget-container col-md-3">
                                 <li id="nav_menu-1" class="widget widget_nav_menu">
                                    <div class="title">
                                       <h3>OUR SERVICES</h3>
                                    </div>
                                    <div class="menu-our-services-container">
                                       <ul id="menu-our-services" class="menu">
                                          <li id="menu-item-824" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-824"><a href="/air-freight">Air Freight</a></li>
                                          <li id="menu-item-823" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-823"><a href="/contract-logistics">Contract Logistics</a></li>
                                          <li id="menu-item-822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-822"><a href="/cuddle">Cuddle</a></li>
                                          <li id="menu-item-1137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1137"><a href="/d-tox">D-tox</a></li>
                                          <li id="menu-item-825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-825"><a href="/warehousing">Warehousing</a></li>
                                          <!--<li id="menu-item-1136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1136"><a href="/cold-storage">Cold Storage</a></li>-->
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                              <ul class="footer-widget-container col-md-3">
                                 <li id="volcanno_contact_info-2" class="widget contact-info">
                                    <div class="title">
                                       <h3>GET IN TOUCH</h3>
                                    </div>
                                    <address>
                                       <ul class='contact-info-list'>
                                          <li>                        
                                             <i class='fa fa-home'></i>   A -128 & 129, Mahipalpur Extension NH-8, New Delhi - 110037, India                      
                                          </li>
                                          <li>                       
                                             <i class='fa fa-envelope-o'></i>
                                             <a href="mailto:info@skyways-group.com"><span class="mail_span">info@skyways-group.com</span></a>                        
                                          </li>
                                       </ul>
                                    </address>
                                 </li>
                              </ul>
                              <ul class="footer-widget-container col-md-3">
                                 <li id="black-studio-tinymce-2" class="widget widget_black_studio_tinymce">
                                    <div class="title">
                                       <h3>Follow Us on</h3>
                                    </div>
                                    <div class="textwidget">
                                       <ul>
                                          <li><a href="https://www.facebook.com/skywayslogisticsgroup/" target="_blank" class="social-facebook" rel="noopener"><i class="fa fa-facebook"></i></a></li>
                                          <li><a href="https://www.linkedin.com/company/33243275/" target="_blank" class="social-linkedin" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                           </section>
                        </div>
                        <!-- .row end -->
                     </div>
                     <!-- .container end -->                
                  </footer>
                  <!-- .footer-end -->
                  <!-- copyright container start -->
                  <section id="copyright-container" class="copyright-container">
                     <!-- .container start -->
                     <div class="container">
                        <!-- .row start -->
                        <div class="row">
                           <section class="col-md-6">
                              <p>Copyright © 2025-2026 Skyways Air Services Ltd. All rights reserved.
                              </p>
                           </section>
                           <section class="col-md-6 copyright-right">
                              <p>
                                 Design and Developed by sGate Tech Solutions Pvt. Ltd.
                              </p>
                           </section>
                           <!-- .col-md-6 omega end -->        
                        </div>
                        <!-- .row end -->
                     </div>
                     <!-- .container end -->
                  </section>
                  <!-- .copyright-container end -->
               </section>
               <!-- .footer-wrapper end -->
               <a href="#" class="scroll-up">Scroll</a>
               <div class="clear"></div>
               <script type="speculationrules">
                  {"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/wp-*.php","\/wp-admin\/*","\/wp-content\/uploads\/*","\/wp-content\/*","\/wp-content\/plugins\/*","\/wp-content\/themes\/trucking-child-theme\/*","\/wp-content\/themes\/trucking\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}
               </script>
               <!-- Click to Chat - https://holithemes.com/plugins/click-to-chat/  v4.6 -->  
               <div class="ht-ctc ht-ctc-chat ctc-analytics ctc_wp_desktop style-2  " id="ht-ctc-chat"  
                  style="display: none;  position: fixed; bottom: 15px; right: 15px;"   >
                  <div class="ht_ctc_style ht_ctc_chat_style">
                     <div  style="display: flex; justify-content: center; align-items: center;  " class="ctc-analytics ctc_s_2">
                        <p class="ctc-analytics ctc_cta ctc_cta_stick ht-ctc-cta  ht-ctc-cta-hover " style="padding: 0px 16px; line-height: 1.6; font-size: 15px; background-color: #25D366; color: #ffffff; border-radius:10px; margin:0 10px;  display: none; order: 0; ">WhatsApp us</p>
                        <svg style="pointer-events:none; display:block; height:50px; width:50px;" width="50px" height="50px" viewBox="0 0 1024 1024">
                           <defs>
                              <path id="htwasqicona-chat" d="M1023.941 765.153c0 5.606-.171 17.766-.508 27.159-.824 22.982-2.646 52.639-5.401 66.151-4.141 20.306-10.392 39.472-18.542 55.425-9.643 18.871-21.943 35.775-36.559 50.364-14.584 14.56-31.472 26.812-50.315 36.416-16.036 8.172-35.322 14.426-55.744 18.549-13.378 2.701-42.812 4.488-65.648 5.3-9.402.336-21.564.505-27.15.505l-504.226-.081c-5.607 0-17.765-.172-27.158-.509-22.983-.824-52.639-2.646-66.152-5.4-20.306-4.142-39.473-10.392-55.425-18.542-18.872-9.644-35.775-21.944-50.364-36.56-14.56-14.584-26.812-31.471-36.415-50.314-8.174-16.037-14.428-35.323-18.551-55.744-2.7-13.378-4.487-42.812-5.3-65.649-.334-9.401-.503-21.563-.503-27.148l.08-504.228c0-5.607.171-17.766.508-27.159.825-22.983 2.646-52.639 5.401-66.151 4.141-20.306 10.391-39.473 18.542-55.426C34.154 93.24 46.455 76.336 61.07 61.747c14.584-14.559 31.472-26.812 50.315-36.416 16.037-8.172 35.324-14.426 55.745-18.549 13.377-2.701 42.812-4.488 65.648-5.3 9.402-.335 21.565-.504 27.149-.504l504.227.081c5.608 0 17.766.171 27.159.508 22.983.825 52.638 2.646 66.152 5.401 20.305 4.141 39.472 10.391 55.425 18.542 18.871 9.643 35.774 21.944 50.363 36.559 14.559 14.584 26.812 31.471 36.415 50.315 8.174 16.037 14.428 35.323 18.551 55.744 2.7 13.378 4.486 42.812 5.3 65.649.335 9.402.504 21.564.504 27.15l-.082 504.226z"/>
                           </defs>
                           <linearGradient id="htwasqiconb-chat" gradientUnits="userSpaceOnUse" x1="512.001" y1=".978" x2="512.001" y2="1025.023">
                              <stop offset="0" stop-color="#61fd7d"/>
                              <stop offset="1" stop-color="#2bb826"/>
                           </linearGradient>
                           <use xlink:href="#htwasqicona-chat" overflow="visible" style="fill: url(#htwasqiconb-chat)" fill="url(#htwasqiconb-chat)"/>
                           <g>
                              <path style="fill: #FFFFFF;" fill="#FFF" d="M783.302 243.246c-69.329-69.387-161.529-107.619-259.763-107.658-202.402 0-367.133 164.668-367.214 367.072-.026 64.699 16.883 127.854 49.017 183.522l-52.096 190.229 194.665-51.047c53.636 29.244 114.022 44.656 175.482 44.682h.151c202.382 0 367.128-164.688 367.21-367.094.039-98.087-38.121-190.319-107.452-259.706zM523.544 808.047h-.125c-54.767-.021-108.483-14.729-155.344-42.529l-11.146-6.612-115.517 30.293 30.834-112.592-7.259-11.544c-30.552-48.579-46.688-104.729-46.664-162.379.066-168.229 136.985-305.096 305.339-305.096 81.521.031 158.154 31.811 215.779 89.482s89.342 134.332 89.312 215.859c-.066 168.243-136.984 305.118-305.209 305.118zm167.415-228.515c-9.177-4.591-54.286-26.782-62.697-29.843-8.41-3.062-14.526-4.592-20.645 4.592-6.115 9.182-23.699 29.843-29.053 35.964-5.352 6.122-10.704 6.888-19.879 2.296-9.176-4.591-38.74-14.277-73.786-45.526-27.275-24.319-45.691-54.359-51.043-63.543-5.352-9.183-.569-14.146 4.024-18.72 4.127-4.109 9.175-10.713 13.763-16.069 4.587-5.355 6.117-9.183 9.175-15.304 3.059-6.122 1.529-11.479-.765-16.07-2.293-4.591-20.644-49.739-28.29-68.104-7.447-17.886-15.013-15.466-20.645-15.747-5.346-.266-11.469-.322-17.585-.322s-16.057 2.295-24.467 11.478-32.113 31.374-32.113 76.521c0 45.147 32.877 88.764 37.465 94.885 4.588 6.122 64.699 98.771 156.741 138.502 21.892 9.45 38.982 15.094 52.308 19.322 21.98 6.979 41.982 5.995 57.793 3.634 17.628-2.633 54.284-22.189 61.932-43.615 7.646-21.427 7.646-39.791 5.352-43.617-2.294-3.826-8.41-6.122-17.585-10.714z"/>
                           </g>
                        </svg>
                     </div>
                  </div>
               </div>
               <span class="ht_ctc_chat_data" 
                  data-no_number=""
                  data-settings="{&quot;number&quot;:&quot;919818200211&quot;,&quot;pre_filled&quot;:&quot;&quot;,&quot;dis_m&quot;:&quot;show&quot;,&quot;dis_d&quot;:&quot;show&quot;,&quot;css&quot;:&quot;display: none; cursor: pointer; z-index: 99999999;&quot;,&quot;pos_d&quot;:&quot;position: fixed; bottom: 15px; right: 15px;&quot;,&quot;pos_m&quot;:&quot;position: fixed; bottom: 15px; right: 15px;&quot;,&quot;schedule&quot;:&quot;no&quot;,&quot;se&quot;:150,&quot;ani&quot;:&quot;no-animations&quot;,&quot;url_target_d&quot;:&quot;_blank&quot;,&quot;ga&quot;:&quot;yes&quot;,&quot;fb&quot;:&quot;yes&quot;,&quot;g_init&quot;:&quot;default&quot;,&quot;g_an_event_name&quot;:&quot;chat: {number}&quot;,&quot;pixel_event_name&quot;:&quot;Click to Chat by HoliThemes&quot;}" 
                  ></span>
               <link rel='stylesheet' id='responsive-lightbox-gallery-css' href='/css/gallery.css' type='text/css' media='all' />
               <style id='responsive-lightbox-gallery-inline-css' type='text/css'>
                  :root {
                  --rl-gallery-background_color: #000000;
                  --rl-gallery-background_opacity: 0.8;
                  --rl-gallery-border_color: #000000;
                  --rl-gallery-title_color: #ffffff;
                  --rl-gallery-caption_color: #cccccc;
                  }
                  .rl-gallery .rl-gallery-link {
                  border: 0px solid #000000;
                  }
                  .rl-gallery .rl-gallery-link .rl-gallery-item-title {
                  color: #ffffff;
                  }
                  .rl-gallery .rl-gallery-link .rl-gallery-item-caption {
                  color: #cccccc;
                  }
                  .rl-gallery .rl-gallery-link .rl-gallery-caption,
                  .rl-gallery .rl-gallery-link:after {
                  background-color: rgba( 0,0,0, 0.8 );
                  }
                  [class^="rl-hover-icon-"] .rl-gallery-link:before,
                  [class*=" rl-hover-icon-"] .rl-gallery-link:before {
                  color: #ffffff;
                  background-color: rgba( 0,0,0, 0.8 );
                  }
               </style>
               <link rel='stylesheet' id='responsive-lightbox-basicgrid-gallery-css' href='../css/gallery-basicgrid.css' type='text/css' media='all' />
               <style id='responsive-lightbox-basicgrid-gallery-inline-css' type='text/css'>
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(33.33% - 2px);
                  margin: 1px;
                  }
                  @media all and (min-width: 1200px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(25% - 2px);
                  }
                  }
                  @media all and (min-width: 992px) and (max-width: 1200px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(33.33% - 2px);
                  }
                  }
                  @media all and (min-width: 768px) and (max-width: 992px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(50% - 2px);
                  }
                  }
                  @media all and (max-width: 768px) {
                  #rl-gallery-container-1 .rl-basicgrid-gallery .rl-gallery-item {
                  width: calc(100% - 2px);
                  }
                  }
               </style>
               <script type="text/javascript" src="../js/app.js" id="ht_ctc_app_js-js"></script>
               <script type="text/javascript" src="../js/wp-polyfill.min.js" id="wp-polyfill-js"></script>
               <script type="text/javascript" src="../js/index.js" id="contact-form-7-js"></script>
               <script type="text/javascript" src="../js/jquery.plugins.min.js" id="volcanno_jquery_plugins-js"></script>
               <script type="text/javascript" src="../js/jquery.dlmenu.min.js" id="dl-menu-js"></script>
               <script type="text/javascript" src="../js/jquery.matchHeight-min.js" id="match-heights-js"></script>
               <script type="text/javascript" src="../js/include.js" id="volcanno_include-js"></script>
               <script type="text/javascript" src="../js/services.js" id="cma-scripts-services-js"></script>
               <script type="text/javascript" src="../js/owl.carousel.min.js" id="owl-carousel-js"></script>
               <script type="text/javascript" src="../js/services_1.js" id="cma-scripts-services-1-js"></script>
               <script type="text/javascript" src="../js/jquery.easing.min.js" id="jquery-easing-js"></script>
               <script type="text/javascript" src="../js/masterslider.min.js" id="masterslider-core-js"></script>
               <script type="text/javascript" src="../js/slick.min.js" id="wpcf-slick-js"></script>
               <script type="text/javascript" src="../js/wp-carousel-free-public.min.js" id="wpcf-slick-config-js"></script>
               <script type="text/javascript" src="../js/preloader.min.js" id="wpcp-preloader-js"></script>
            </body>
         </html>
